{% from "../macros/side-navigation.njk" import sideNavigation %}

{% macro nav(active) %}
  {{ sideNavigation([
    {
      name: "Roadmap",
      description: "roadmap",
      href: "/features/roadmap"
    }
  ], active) }}
{% endmacro %}
