{% from "dist/govuk/components/table/macro.njk" import govukTable %}

{% macro table(heads, rows, headClasses, rowClasses) %}
  {% set formattedHeads = [] %}
  {% for head in heads %}
    {% set formattedHeads = (formattedHeads.push({
      text: head,
      classes: headClasses if headClasses
    }), formattedHeads) %}
  {% endfor %}

  {% set formattedRows = [] %}
  {% for row in rows %}
    {% set currentRow = [] %}
    {% for cell in row %}
      {% set currentRow = (currentRow.push({
        text: cell,
        classes: rowClasses if rowClasses
      }), currentRow) %}
    {% endfor %}
    {% set formattedRows = (formattedRows.push(currentRow), formattedRows) %}
  {% endfor %}

  {{ govukTable({
    head: formattedHeads,
    rows: formattedRows
  }) }}
{% endmacro %}
