.govuk-header__content {
  @include govuk-media-query($from: desktop) {
    width: 47%;
  }
}

.govuk-header__logo {
  @include govuk-media-query($from: desktop) {
    width: 53%;
  }
}

@media (min-width: 904px) and (max-width: 989px) {
  .govuk-header__logo {
    width: 50%;
    padding-right: 0;
    }
  .govuk-header__content {
    width: 50%;
    padding-left: 0;
  }
}

@media (min-width: 840px) and (max-width: 903px) {
  .govuk-header__logo {
    width: 45%;
    padding-right: 0;
  }
  .govuk-header__content {
    width: 55%;
    padding-left: 0;
  }
}

@media (min-width: 769px) and (max-width: 839px) {
  .govuk-header__logo {
    width: 35%;

  }
  .govuk-header__content {
    width: 65%;
    .govuk-header__navigation {
      margin-top: 15px;
    }

  }
}

