{% extends "base.njk" %}

{% set pageTitle = "Page not found" %}

{% set showTopNav = false %}
{% set baseClasses = "govuk-main-wrapper--l" %}

{% block content %}
  <div class="govuk-grid-row">
    <div class="govuk-grid-column-two-thirds">
      <h1 class="govuk-heading-l">Page not found</h1>
      <p class="govuk-body">If you typed the web address, check it is correct.</p>
      <p class="govuk-body">If you pasted the web address, check you copied the entire address.</p>
      <p class="govuk-body">
        If the web address is correct or you selected a link or button, use our
        <a class="govuk-link" href="/support" style="white-space: nowrap;">support form</a> to report the problem.
      </p>
    </div>
  </div>
{% endblock %}
