{% extends "base.njk" %}

{% block pageTitle %}Accessibility statement - GOV.UK Sign In{% endblock %}

{% block beforeContent %}
  <div class="govuk-breadcrumbs">
    <ol class="govuk-breadcrumbs__list">
      <li class="govuk-breadcrumbs__list-item">
        <a class="govuk-breadcrumbs__link" href="https://www.gov.uk/service-toolkit#gov-uk-services">GOV.UK services</a>
      </li>
      <li class="govuk-breadcrumbs__list-item">
        <a class="govuk-breadcrumbs__link" href="/">GOV.UK Sign In</a>
      </li>
      <li class="govuk-breadcrumbs__list-item">
        <a class="govuk-breadcrumbs__link"  href="#main-content" aria-current="page">Accessibility statement</a>
      </li>
    </ol>
  </div>
{% endblock %}

{% block content %}
  <div class="govuk-grid-row">
    <div class="govuk-grid-column-two-thirds">
      <h1 class="govuk-heading-l">
        Accessibility statement for GOV.UK Sign In
      </h1>

      <p class="govuk-body">
        GOV.UK Sign In is part of the wider GOV.UK website. There’s a separate accessibility statement for the main GOV.UK website.
      </p>

      <p class="govuk-body">
        This accessibility statement only contains information about the
        <a href="/" class="govuk-link">GOV.UK Sign In website</a>.
      </p>

      <p class="govuk-body">
        This accessibility statement explains:
      <ul class="govuk-list govuk-list--bullet">
        <li>how accessible the website is</li>
        <li>what work we’re planning to do</li>
        <li>what to do if you have difficulty using it</li>
        <li>how to report any accessibility problems</li>
      </ul>
      </p>

      <h2 class="govuk-heading-m">
        What this website should do
      </h2>

      <p class="govuk-body">
        This website was created by the Government Digital Service.
        It is designed to be used by as many people as possible.
      </p>

      <p class="govuk-body">
        The text should be clear and simple to understand.
      </p>

      <p class="govuk-body">
        You should be able to:
      <ul class="govuk-list govuk-list--bullet">
        <li>zoom in up to 300% without problems</li>
        <li>navigate most of the website using just a keyboard</li>
        <li>navigate most of the website using speech recognition software</li>
        <li>use most of the website using a screen reader (including the most recent versions of JAWS, NVDA and VoiceOver)</li>
      </ul>
      </p>

      <h2 class="govuk-heading-m">
        How we tested this website
      </h2>

      <p class="govuk-body">
        The GOV.UK Sign In website was last tested on 4 October 2021. The test was carried out by the Digital Accessibility Centre (DAC), who produced an accessibility audit report on 13 October 2021.
      </p>

      <p class="govuk-body">
        DAC assessed the GOV.UK Sign In website against the Web Content Accessibility Guidelines WCAG 2.1.
      </p>

      <h2 class="govuk-heading-m">What we’re doing to improve accessibility</h2>

      <p class="govuk-body">
        Following recommendations from the testing carried out by the Digital Accessibility Centre (DAC), we have fixed all outstanding A and AA issues.
      </p>

      <p class="govuk-body">
        This included:
      <ul class="govuk-list govuk-list--bullet">
        <li>making link text more descriptive</li>
        <li>marking fields in our registration form as optional</li>
      </ul>
      </p>

      <h2 class="govuk-heading-m">
        What to do if you have difficulty using this website
      </h2>


      <p class="govuk-body">
        If you have difficulty using this website, contact us by sending an email to
        <a href="mailto:govuk-sign-in@digital.cabinet-office.gov.uk" class="govuk-link">
          govuk-sign-in@digital.cabinet-office.gov.uk
        </a>
      </p>

      <h2 class="govuk-heading-m">
        Reporting accessibility problems
      </h2>

      <p class="govuk-body">
        We’re always looking to improve the accessibility of this website.
      </p>

      <p class="govuk-body">
        If you find any problems, or think we’re not meeting accessibility requirements, email
        <a href="mailto:govuk-sign-in@digital.cabinet-office.gov.uk" class="govuk-link">
          govuk-sign-in@digital.cabinet-office.gov.uk
        </a>
      </p>

      <h2 class="govuk-heading-m">
        If you’re not happy with our response
      </h2>

      <p class="govuk-body">
        The Equality and Human Rights Commission (EHRC) is responsible for enforcing the
        Public Sector Bodies (Websites and Mobile Applications) (No. 2)
        Accessibility Regulations 2018 (the ‘accessibility regulations’).
      </p>


      <p class="govuk-body">
        If you are not happy with how we respond to your complaint,
        contact the <a href="https://www.equalityadvisoryservice.com/" class="govuk-link">Equality Advisory and Support Service</a>,
        which is run on behalf of EHRC.
      </p>


      <h2 class="govuk-heading-m">
        Technical information about this website’s accessibility
      </h2>

      <p class="govuk-body">
        The Government Digital Service is committed to making its websites accessible,
        in accordance with the Public Sector Bodies (Websites and Mobile Applications)
        (No. 2) Accessibility Regulations 2018.
      </p>

      <h2 class="govuk-heading-m">
        Preparation of this accessibility statement
      </h2>

      <p class="govuk-body">
        This statement was prepared on 21 July 2021. It was last reviewed on 12 November 2021.
      </p>
    </div>
  </div>
{% endblock %}
