{% extends "govuk/template.njk" %}
{% from "govuk/components/header/macro.njk" import govukHeader %}
{% from "govuk/components/phase-banner/macro.njk" import govukPhaseBanner %}
{% from "govuk/components/footer/macro.njk" import govukFooter %}

{% block head %}
    <!--[if !IE 8]><!-->
    <link rel="stylesheet" type="text/css" href="assets/app.css">
    <!--<![endif]-->
{% endblock %}

{% block bodyStart %}

    <div class="govuk-cookie-banner " data-nosnippet role="region" aria-label="Cookies on GOV.UK Sign In" style="display: none">
        <div class="govuk-cookie-banner__message govuk-width-container" id="cookies-banner-main"">

        <div class="govuk-grid-row">
            <div class="govuk-grid-column-two-thirds">
                <h2 class="govuk-cookie-banner__heading govuk-heading-m">Cookies on GOV.UK Sign In</h2>

                <div class="govuk-cookie-banner__content">
                    <p>We’d like to use analytics cookies so we can understand how you use this website and make improvements.</p>
                </div>
            </div>
        </div>

        <div class="govuk-button-group">
            <button id="cookiesAccept" type="button" class="govuk-button" data-module="govuk-button">
                Accept analytics cookies
            </button>
            <button id="cookiesReject" type="button" class="govuk-button" data-module="govuk-button">
                Reject analytics cookies
            </button>
            <a class="govuk-link" href="/cookies">View cookies</a>
        </div>
    </div>

    <div class="govuk-cookie-banner__message govuk-width-container" id="cookies-accepted" role="alert" hidden>

        <div class="govuk-grid-row">
            <div class="govuk-grid-column-two-thirds">

                <div class="govuk-cookie-banner__content">
                    <p>You’ve accepted analytics cookies. You can <a class="govuk-link" href="/cookies">change your cookie settings</a> at any time.</p>
                </div>
            </div>
        </div>

        <div class="govuk-button-group">
            <button class="govuk-button cookie-hide-button" data-module="govuk-button">
                Hide this message
            </button>
        </div>
    </div>

    <div class="govuk-cookie-banner__message govuk-width-container" id="cookies-rejected" role="alert" hidden>

        <div class="govuk-grid-row">
            <div class="govuk-grid-column-two-thirds">

                <div class="govuk-cookie-banner__content">
                    <p>You’ve rejected analytics cookies. You can <a class="govuk-link" href="/cookies">change your cookie settings</a> at any time.</p>
                </div>
            </div>
        </div>

        <div class="govuk-button-group">
            <button class="govuk-button cookie-hide-button" data-module="govuk-button">
                Hide this message
            </button>
        </div>
    </div>
    </div>

{% endblock %}

{% block main %}
        {% block beforeContent %}{% endblock %}
        <main class="{{ mainClasses }}" id="main-content" role="main"{% if mainLang %} lang="{{ mainLang }}"{% endif %}>
            {% block content %}
                <h1 class="govuk-heading-xl">Default page template</h1>
            {% endblock %}
        </main>
{% endblock %}

{% block footer %}
    <footer class="govuk-footer" role="contentinfo">
        <div class="govuk-width-container">
            <div class="govuk-footer__meta">
                <div class="govuk-footer__meta-item govuk-footer__meta-item--grow">
                    <h2 class="govuk-visually-hidden">Support links</h2>
                    <ul class="govuk-footer__inline-list">
                        <li class="govuk-footer__inline-list-item">Built by the <a class="govuk-footer__link" href="https://www.gov.uk/government/organisations/government-digital-service">Government Digital Service</a></li>
                        <li class="govuk-footer__inline-list-item"><a class="govuk-footer__link" href="/accessibility">Accessibility</a></li>
                        <li class="govuk-footer__inline-list-item"><a class="govuk-footer__link" href="/privacy-policy">Privacy</a></li>
                        <li class="govuk-footer__inline-list-item"><a class="govuk-footer__link" href="/cookies">Cookies</a></li>
                    </ul>
                    <svg aria-hidden="true" focusable="false" class="govuk-footer__licence-logo" xmlns="http://www.w3.org/2000/svg" viewBox="0 0 483.2 195.7" height="17" width="41">
                        <path fill="currentColor" d="M421.5 142.8V.1l-50.7 32.3v161.1h112.4v-50.7zm-122.3-9.6A47.12 47.12 0 0 1 221 97.8c0-26 21.1-47.1 47.1-47.1 16.7 0 31.4 8.7 39.7 21.8l42.7-27.2A97.63 97.63 0 0 0 268.1 0c-36.5 0-68.3 20.1-85.1 49.7A98 98 0 0 0 97.8 0C43.9 0 0 43.9 0 97.8s43.9 97.8 97.8 97.8c36.5 0 68.3-20.1 85.1-49.7a97.76 97.76 0 0 0 149.6 25.4l19.4 22.2h3v-87.8h-80l24.3 27.5zM97.8 145c-26 0-47.1-21.1-47.1-47.1s21.1-47.1 47.1-47.1 47.2 21 47.2 47S123.8 145 97.8 145" />
                    </svg>
                    <span class="govuk-footer__licence-description">
              All content is available under the
              <a
                      class="govuk-footer__link"
                      href="https://www.nationalarchives.gov.uk/doc/open-government-licence/version/3/"
                      rel="license"
              >Open Government Licence v3.0</a>, except where otherwise stated
            </span>
                </div>
                <div class="govuk-footer__meta-item">
                    <a class="govuk-footer__link govuk-footer__copyright-logo" href="http://www.nationalarchives.gov.uk/information-management/re-using-public-sector-information/copyright-and-re-use/crown-copyright/">© Crown copyright</a>
                </div>
            </div>
        </div>
    </footer>
{% endblock %}



{% block bodyEnd %}
    <input type="hidden" value="UA-199064834-1" id="ga-tracking">
    {# Run JavaScript at end of the <body>, to avoid blocking the initial render. #}
    <script src="assets/gaap-analytics.min.js"></script>
    <script src="assets/govuk-all.js"></script>
    <script src="assets/cookies.js"></script>
    <script>window.GOVUKFrontend.initAll()</script>
    <script>window.GAAP.analytics.init()</script>
    <script>window.GOVSignin.CookieBanner.init()</script>
{% endblock %}
