{% extends "base-form.njk" %}

{% set pageTitle = "Contact us" %}
{% set buttonText = "Submit form" %}

{% block beforeForm %}
  <h1 class="govuk-heading-l govuk-!-margin-bottom-6">Contact us</h1>

  <p class="govuk-body">Use this form to:</p>
  <ul class="govuk-list govuk-list--bullet">
    <li>report a problem</li>
    <li>ask questions</li>
    <li>suggest improvements</li>
  </ul>
{% endblock %}

{% block formInputs %}
  {{ form.textInput("Name", "name") }}
  {{ form.emailInput() }}
  {{ form.textInput("Role", "role") }}
  {{ form.textInput("Organisation name", "organisation-name") }}
  {{ form.textInput("Service name", "service-name") }}
  {{ form.textAreaInput("How can we help?", "how-can-we-help") }}
{% endblock %}
