{% extends "base.njk" %}
{% from "dist/govuk/components/panel/macro.njk" import govukPanel %}

{% set pageTitle = "Message submitted" %}

{% block mainContent %}
  {{ govukPanel({ titleText: "Your message has been submitted" }) }}

  <p class="govuk-body govuk-!-margin-top-7">
    Thank you for your message.
  </p>

  <p class="govuk-body">
    We’ll try to get back to you in 2 working days.
  </p>

  <p class="govuk-body">
    Return to the <a class="govuk-link" href="/">GOV.UK One Login homepage</a>.
  </p>
{% endblock %}
