{% extends "base.njk" %}
{% from "govuk/components/input/macro.njk" import govukInput %}
{% from "govuk/components/button/macro.njk" import govukButton %}
{% from "govuk/components/textarea/macro.njk" import govukTextarea %}

{% set pageTitle = "Contact us" %}

{% block mainContent %}
  {% if errorMessages.size != 0 %}
    <div class="govuk-error-summary" aria-labelledby="error-summary-title" role="alert"
         tabindex="-1"
         data-module="govuk-error-summary">
      <h2 class="govuk-error-summary__title" id="error-summary-title">
        There is a problem
      </h2>
      <div class="govuk-error-summary__body">
        <ul class="govuk-list govuk-error-summary__list">
          {% for field in fieldOrder %}
            {% if errorMessages.get(field) %}
              <li>
                <a href="#{{ field }}">{{ errorMessages.get(field) }}</a>
              </li>
            {% endif %}
          {% endfor %}
        </ul>
      </div>
    </div>
  {% endif %}

  <h1 class="govuk-heading-l govuk-!-margin-bottom-6">Contact us</h1>

  <p class="govuk-body">Use this form to:</p>
  <ul class="govuk-list govuk-list--bullet">
    <li>report a problem</li>
    <li>ask questions</li>
    <li>suggest improvements</li>
  </ul>

  <form class="form" method="post" novalidate="novalidate">
    {{ govukInput({
      label: {
        text: "Name"
      },
      id: "name",
      name: "name",
      spellcheck: false,
      classes: "govuk-!-width-one-half",
      value: values.get("name"),
      errorMessage: {
        text: errorMessages.get("name")
      } if errorMessages and errorMessages.has("name")
    }) }}

    {{ govukInput({
      label: {
        text: "Email address"
      },
      hint: {
        text: "You must enter a government email address"
      },
      id: "email",
      name: "email",
      type: "email",
      spellcheck: false,
      autocomplete: "email",
      classes: "govuk-!-width-two-thirds",
      value: values.get("email"),
      errorMessage: {
        text: errorMessages.get("email")
      } if errorMessages and errorMessages.has("email")
    }) }}

    {{ govukInput({
      label: {
        text: "Role"
      },
      id: "role",
      name: "role",
      spellcheck: false,
      classes: "govuk-!-width-one-half",
      value: values.get("role"),
      errorMessage: {
        text: errorMessages.get("role")
      } if errorMessages and errorMessages.has("role")
    }) }}

    {{ govukInput({
      label: {
        text: "Organisation"
      },
      id: "organisation-name",
      name: "organisation-name",
      spellcheck: false,
      classes: "govuk-!-width-one-half",
      value: values.get("organisation-name"),
      errorMessage: {
        text: errorMessages.get("organisation-name")
      } if errorMessages and errorMessages.has("organisation-name")
    }) }}

    {{ govukInput({
      label: {
        text: "Service name"
      },
      id: "service-name",
      name: "service-name",
      spellcheck: false,
      classes: "govuk-!-width-one-half",
      value: values.get("service-name"),
      errorMessage: {
        text: errorMessages.get("service-name")
      } if errorMessages and errorMessages.has("service-name")
    }) }}

    {{ govukTextarea({
      label: {
        text: "How can we help?"
      },
      id: "how-can-we-help",
      name: "how-can-we-help",
      rows: 5,
      errorMessage: {
        text: errorMessages.get("how-can-we-help")
      } if errorMessages and errorMessages.has("how-can-we-help")
    }) }}

    {{ govukButton({
      text: "Submit form",
      name: "submit",
      attributes: {
        id: "submit"
      }
    }) }}
  </form>
{% endblock %}
