{% extends "base.njk" %}
{% from "govuk/components/back-link/macro.njk" import govukBackLink %}

{% set pageTitle = "Contact us to get started" %}
{% set backLink = govukBackLink({text: "Back", href: "/support"}) %}

{% block mainContent %}
  <h1 class="govuk-heading-l">
    Contact us
  </h1>

  <p class="govuk-body">
    You can find out how to:
  </p>

  <ul class="govuk-list govuk-list--bullet">
    <li><a class="govuk-link" href="/getting-started">get started</a> with GOV.UK One Login</li>
    <li><a class="govuk-link" href="/register">register your interest</a> in using GOV.UK One Login</li>
  </ul>

  <p class="govuk-body">
    Or if you still have questions, you can contact us using our <a class="govuk-link" href="/contact-us ">support form</a> or via our <a class="govuk-link" href="https://ukgovernmentdigital.slack.com/archives/C02AQUJ6WTC">Slack channel</a>.
  </p>
{% endblock %}
{% block scripts %}
  {{ga4OnPageLoad({
    statusCode:"200",
    englishPageTitle: pageTitle,
    taxonomyLevel1: taxonomyLevel1,
    taxonomyLevel2: taxonomyLevel2Support,
    contentId:"f27709e0-5c6d-4f7b-8dbe-478849fbd493",
    loggedInStatus:false,
    dynamic:false
  })}}
{% endblock %}
