{% extends "base-evaluate.njk" %}

{% block pageTitle %}Decide if GOV.UK Sign In is right for your service - GOV.UK Product Pages{% endblock %}

{% block content %}
  <div class="govuk-width-container">
    <div class="govuk-grid-row">

      <div class="govuk-grid-column-one-third">
        <nav class="sub-navigation">
          <ul class="govuk-list">
            <li class="sub-navigation__item sub-navigation__item--active">
              <a class="govuk-link govuk-link--no-visited-state" href="/decide">Home</a>
            </li>
          </ul>
          <ul class="govuk-list sub_navigation_list_1">
            <li class="sub-navigation__item">
              <a class="govuk-link govuk-link--no-visited-state" href="/decide/timescales">Timescales</a>
            </li>
            <li class="sub-navigation__item">
              <a class="govuk-link govuk-link--no-visited-state" href="/decide/user-journeys">User journeys</a>
            </li>
            <li class="sub-navigation__item">
              <a class="govuk-link govuk-link--no-visited-state" href="/decide/design-patterns">Design patterns</a>
            </li>
            <li class="sub-navigation__item">
              <a class="govuk-link govuk-link--no-visited-state" href="{{ documentationUrl }}/#gov-uk-sign-in">Technical documentation</a>
            </li>
            <li class="sub-navigation__item">
              <a class="govuk-link govuk-link--no-visited-state" href="/decide/private-beta">Request to join private beta</a>
            </li>
          </ul>
        </nav>
      </div>

      <div class="govuk-grid-column-two-thirds">
        <h1 class="govuk-heading-l">
          Decide if GOV.UK Sign In is right for your service
        </h1>

        <p class="govuk-body">
          This page links to information that should help you decide whether GOV.UK Sign In meets your needs. If it meets your needs, you can request to join our private beta.
        </p>

        <h2 class="govuk-heading-m">
          1. Understand our timescales
        </h2>

        <p class="govuk-body">
          Read about our <a class="govuk-link" href="/decide/timescales">timescales</a> for starting private beta and beyond.
        </p>

        <h2 class="govuk-heading-m">
          2. View user journeys
        </h2>

        <p class="govuk-body">
          See how GOV.UK Sign In works for end users by viewing the <a class="govuk-link" href="/decide/user-journeys">user journeys</a>.
        </p>

        <h2 class="govuk-heading-m">
          3. View design patterns
        </h2>

        <p class="govuk-body">
          We’ve created <a class="govuk-link" href="/decide/design-patterns">design patterns</a> to help you incorporate GOV.UK Sign In into your service.
        </p>

        <h2 class="govuk-heading-m">
          4. Test GOV.UK Sign In with your service
        </h2>

        <p class="govuk-body">
          Our technical documentation will help you:
        </p>
        <ul class="govuk-list govuk-list--bullet govuk-list-decide">
          <li>understand how GOV.UK Sign In works</li>
          <li>build a test service</li>
        </ul>

        <div class="govuk-inset-text">
          It does not include any information about identity checks. It covers the authentication part of GOV.UK Sign In that lets users sign into your service with a username and password.
        </div>

        <p class="govuk-body">
          Read our <a class="govuk-link" href="{{ documentationUrl }}/#gov-uk-sign-in">technical documentation</a>.
        </p>

        <h2 class="govuk-heading-m">
          5. Request to join private beta
        </h2>

        <p class="govuk-body evaluate-last-paragraph-decide">
          If you’ve decided that GOV.UK Sign In is right for your service, <a class="govuk-link" href="/decide/private-beta">find out more about joining the private beta</a>.
        </p>

        <h2 class="govuk-heading-m evaluate-contact-us-decide">Contact us</h2>

        <p class="govuk-body">
          Use our <a class="govuk-link" href="/contact-us">online form</a> to report problems, ask questions or suggest improvements.
        </p>

        <p class="govuk-body">
          You can also get in touch via our <a class="govuk-link" href="https://ukgovernmentdigital.slack.com/archives/C02AQUJ6WTC">Slack channel</a>.
        </p>

      </div>

    </div>
  </div>

{% endblock %}
