{% extends "base-evaluate.njk" %}
{% from "govuk/components/button/macro.njk" import govukButton %}

{% block pageTitle %}Private beta - GOV.UK Sign In{% endblock %}

{% block content %}
  <div class="govuk-width-container">
    <div class="govuk-grid-row">

      <div class="govuk-grid-column-one-third">
        <nav class="sub-navigation">
          <ul class="govuk-list">
            <li class="sub-navigation__item">
              <a class="govuk-link govuk-link--no-visited-state" href="/decide">Home</a>
            </li>
          </ul>
          <ul class="govuk-list sub_navigation_list_1">
            <li class="sub-navigation__item">
              <a class="govuk-link govuk-link--no-visited-state" href="/decide/timescales">Timescales</a>
            </li>
            <li class="sub-navigation__item">
              <a class="govuk-link govuk-link--no-visited-state" href="/decide/user-journeys">User journeys</a>
            </li>
            <li class="sub-navigation__item">
              <a class="govuk-link govuk-link--no-visited-state" href="/decide/design-patterns">Design patterns</a>
            </li>
            <li class="sub-navigation__item">
              <a class="govuk-link govuk-link--no-visited-state" href="{{ documentationUrl }}">Technical documentation</a>
            </li>
            <li class="sub-navigation__item sub-navigation__item--active">
              <a class="govuk-link govuk-link--no-visited-state" href="/decide/private-beta">Request to join private beta</a>
            </li>
          </ul>
        </nav>
      </div>

      <div class="govuk-grid-column-two-thirds">
        <h1 class="govuk-heading-l">Find out more about private beta</h1>

        <p class="govuk-body">
          For private beta, we‘ll choose which services to onboard on a case-by-case basis.
        </p>

        <p class="govuk-body">
          We’ll invite services to partner with us that help us learn about the features we’ll need as we scale up. These services will go live with GOV.UK Sign In so we can learn how it works at scale.
        </p>

        <p class="govuk-body">
          This private beta is for authentication only. It does not include identity checks.
        </p>

        <h2 class="govuk-heading-m">What to expect</h2>

        <p class="govuk-body">
          If you join the private beta, you'll get:
        </p>

        <ul class="govuk-list govuk-list--bullet">
          <li>early access to GOV.UK Sign In for all your live traffic</li>
          <li>the opportunity to feed into our plans and shape the future of our service</li>
          <li>support from our team throughout</li>
        </ul>

        <p class="govuk-body">
          We'll need you to:
        </p>

        <ul class="govuk-list govuk-list--bullet">
          <li>integrate with GOV.UK Sign In to allow your users to sign in to your service</li>
          <li>provide regular feedback to us about your experiences of using and onboarding to GOV.UK Sign In - we’ll agree on the frequency and method of feedback with you to make sure it works for both of us</li>
        </ul>

        <h2 class="govuk-heading-m">Who can join</h2>

        <p class="govuk-body">
          To join the private beta, you need to:
        </p>

        <ul class="govuk-list govuk-list--bullet">
          <li>work in a central government department</li>
          <li>have a service in beta or live</li>
          <li>need to sign in your users only, not check their identity</li>
          <li>be able to integrate with GOV.UK Sign In - this means you need access to developers who are comfortable working with the OpenID Connect (OIDC) protocol and the processes set out in our <a class="govuk-link" href="{{ documentationUrl }}">technical documentation</a></li>
        </ul>

        <h2 class="govuk-heading-m">The joining process</h2>

        <p class="govuk-body">
          Once you’ve requested to join the private beta, we’ll ask you to fill in a form and give us more information about your service. This will include things like your user volumes and timelines.
        </p>

        <p class="govuk-body">
          We’ll review the information you send and let you know within 2 weeks whether you can join the beta.
        </p>

        <p class="govuk-body">
        Once you’ve been accepted, you’ll need to:
        </p>

        <ul class="govuk-list govuk-list--bullet">
          <li>sign our memorandum of understanding</li>
          <li>provide some details to help us prepare for you to go live - this includes contact details and user support information</li>
        </ul>

        <p class="govuk-body">
        Then, we’ll give you access to our production environment so you can go live.
        </p>

        <h2 class="govuk-heading-m">Request to join private beta</h2>

        <p class="govuk-body">
          If you meet the criteria and would like to take part, let us know.
        </p>

        <div class="govuk-inset-text">
          Please be aware that even if you meet the criteria, this does not guarantee that you’ll be able to take part. We need to choose services that we can learn the most from.
        </div>

        {{ govukButton({
          text: "Request to join private beta",
          href: "/decide/private-beta/request-form",
          isStartButton: true
        }) }}

      </div>

    </div>
  </div>

{% endblock %}
