{% extends "base-evaluate.njk" %}

{% block pageTitle %}User journeys - GOV.UK Sign In{% endblock %}

{% block content %}
  <div class="govuk-width-container">
    <div class="govuk-grid-row">

      <div class="govuk-grid-column-one-third">
        <nav class="sub-navigation">
          <ul class="govuk-list">
            <li class="sub-navigation__item">
              <a class="govuk-link govuk-link--no-visited-state" href="/decide">Home</a>
            </li>
          </ul>
          <ul class="govuk-list sub_navigation_list_1">
            <li class="sub-navigation__item">
              <a class="govuk-link govuk-link--no-visited-state" href="/decide/timescales">Timescales</a>
            </li>
            <li class="sub-navigation__item sub-navigation__item--active">
              <a class="govuk-link govuk-link--no-visited-state" href="/decide/user-journeys">User journeys</a>
            </li>
            <li class="sub-navigation__item">
              <a class="govuk-link govuk-link--no-visited-state" href="/decide/design-patterns">Design patterns</a>
            </li>
            <li class="sub-navigation__item">
              <a class="govuk-link govuk-link--no-visited-state" href="{{ documentationUrl }}">Technical documentation</a>
            </li>
            <li class="sub-navigation__item">
              <a class="govuk-link govuk-link--no-visited-state" href="/decide/private-beta">Request to join private beta</a>
            </li>
          </ul>
        </nav>
      </div>

      <div class="govuk-grid-column-two-thirds">
        <h1 class="govuk-heading-l">User journeys</h1>

        <p class="govuk-body">
          There are two different ways of implementing GOV.UK Sign In in your service. You can see a user journey map for each way.
        </p>

        <h2 class="govuk-heading-m">Users create an account upfront</h2>

        <p class="govuk-body">
          This journey map shows users <a class="govuk-link" href="https://www.figma.com/file/RzY1fO1lYpswP2edV3vILh/GOV.UK-Sign-In:-Creating-an-account-at-the-start-of-your-service-journey?node-id=0%3A1">creating an account at the start of your service journey</a>.
        </p>
        <p class="govuk-body">
          This option is probably best for your service if you need all your users to create accounts before they can do anything.
        </p>

        <h2 class="govuk-heading-m">Users create an account to save progress</h2>

        <p class="govuk-body">
          This journey map shows users going through part of your service journey, then creating an account when they decide they want to <a class="govuk-link" href="https://www.figma.com/file/1OXGHOMdwGyOMjsafCnniy/GOV.UK-Sign-In:-Save-progress-and-come-back-later?node-id=0%3A1">save their progress and come back later</a>.
        </p>
        <p class="govuk-body evaluate-border-bottom-paragraph-decide">
          This option is probably best for your service if you do not need all your users to create accounts, but want to give them the option of saving their progress.
        </p>

        <h2 class="govuk-heading-m">Contact us</h2>

        <p class="govuk-body">
          If you cannot access the files or need the information presented in a different way, contact us using our <a class="govuk-link" href="/contact-us">support form</a> or via our <a class="govuk-link" href="https://ukgovernmentdigital.slack.com/archives/C02AQUJ6WTC">Slack channel</a>.
        </p>

        <p class="govuk-body">
          You can also ask any other questions or provide feedback.
        </p>

      </div>

    </div>
  </div>

{% endblock %}
