{% extends "base-evaluate.njk" %}

{% block pageTitle %}Design patterns for GOV.UK Sign In - GOV.UK Product Pages{% endblock %}

{% block content %}
  <div class="govuk-width-container">
    <div class="govuk-grid-row">

      <div class="govuk-grid-column-one-third">
        <nav class="sub-navigation">
          <ul class="govuk-list">
            <li class="sub-navigation__item">
              <a class="govuk-link govuk-link--no-visited-state" href="/decide">Home</a>
            </li>
          </ul>
          <ul class="govuk-list sub_navigation_list_1">
            <li class="sub-navigation__item">
              <a class="govuk-link govuk-link--no-visited-state" href="/decide/timescales">Timescales</a>
            </li>
            <li class="sub-navigation__item">
              <a class="govuk-link govuk-link--no-visited-state" href="/decide/user-journeys">User journeys</a>
            </li>
            <li class="sub-navigation__item sub-navigation__item--active">
              <a class="govuk-link govuk-link--no-visited-state" href="/decide/design-patterns">Design patterns</a>
            </li>
            <li class="sub-navigation__item">
              <a class="govuk-link govuk-link--no-visited-state" href="https://auth-tech-docs.london.cloudapps.digital/#gov-uk-sign-in">Technical documentation</a>
            </li>
            <li class="sub-navigation__item">
              <a class="govuk-link govuk-link--no-visited-state" href="/decide/private-beta">Request to join private beta</a>
            </li>
          </ul>
        </nav>
      </div>

      <div class="govuk-grid-column-two-thirds">
        <h1 class="govuk-heading-l">Design patterns</h1>

        <p class="govuk-body">
          We have some <a class="govuk-link" href="https://www.figma.com/file/CCC6mk1gkMVUrrvZqoV5rl">design patterns</a> that you can use to incorporate GOV.UK Sign In into your service.
        </p>

        <p class="govuk-body">
          They’re for the user journey where users go through some of your service journey, then create an account when they decide they want to save their progress and come back later.
        </p>

        <p class="govuk-body evaluate-border-bottom-paragraph-decide">
          You do not have to use the patterns if research shows something else works better for your service. If you discover something else works better, please let us know so we can learn from you.
        </p>

        <h2 class="govuk-heading-m">Contact us</h2>

        <p class="govuk-body">
          If you cannot access the files or need the information presented in a different way, contact us using our <a class="govuk-link" href="/contact-us?source=decide-design-patterns">online form</a> or via our <a class="govuk-link" href="https://ukgovernmentdigital.slack.com/archives/C02AQUJ6WTC">Slack channel</a>.
        </p>

        <p class="govuk-body">
          You can also ask any other questions or provide feedback.
        </p>

      </div>

    </div>
  </div>

{% endblock %}
