{% extends "base-side-nav.njk" %}
{% from "macros/breadcrumbs.njk" import breadcrumbs %}

{% set pageTitle = "Technical documentation" %}
{% set headerNavigationActiveItem = "documentation" %}
{% set sideNav = {name: "documentation", active: "documentation"} %}
{% set breadcrumbs = breadcrumbs(currentPageName = "Documentation") %}

{% block mainContent %}
  <h1 class="govuk-heading-l">Technical documentation</h1>
  <p class="govuk-body">Our technical documentation will help you:</p>
  <ul class="govuk-list govuk-list--bullet">
    <li>understand how GOV.UK One Login works</li>
    <li>test GOV.UK One Login in our integration environment</li>
  </ul>
  <p class="govuk-body">
    The documentation covers both the authentication and identity checking parts of GOV.UK One Login.
  </p>
  <p class="govuk-body">
    <a class="govuk-link" href="https://docs.sign-in.service.gov.uk" rel="noreferrer noopener" target="_blank">Read our technical documentation (opens in new tab)</a>
  </p>
{% endblock %}
{% block scripts %}
  {{ga4OnPageLoad({
    statusCode:"200",
    englishPageTitle: pageTitle,
    taxonomyLevel1: taxonomyLevel1,
    taxonomyLevel2: taxonomyLevel2Documents,
    contentId:"58cbd170-1aa4-49f7-a86e-871751315ae8",
    loggedInStatus:false,
    dynamic:false
  })}}
{% endblock %}
