{% extends "base-side-nav.njk" %}
{% from "macros/breadcrumbs.njk" import breadcrumbs %}

{% set pageTitle = "Show users where to change their GOV.UK One Login credentials" %}
{% set headerNavigationActiveItem = "documentation" %}
{% set sideNav = {name: "documentation", active: "change-credentials"} %}
{% set mainClasses = "documentation-design-recommendations documentation-design-change-credentials" %}
{% set breadcrumbs = breadcrumbs([{text: "Documentation", href: "/documentation"}], "Design recommendations") %}

{% block mainContent %}
  <h1 class="govuk-heading-l">Show users where to change their GOV.UK One Login credentials</h1>
  <p class="govuk-body">Your users need to be able to navigate from your service to their GOV.UK One Login so they can check or update their sign in details.</p>
  <p class="govuk-body"><a class="govuk-link" href="/documentation/design-recommendations/let-users-navigate-sign-out">We recommend that you use the GOV.UK One Login service header for this</a>.</p>
  <p class="govuk-body">There are 2 other patterns we’ve developed and tested which can be used if:</p>
  <ul class="govuk-list govuk-list--bullet">
    <li>you cannot use the GOV.UK One Login service header</li>
    <li>you need to give your users additional routes to change their sign in details</li>
  </ul>
  <h2 class="govuk-heading-m govuk-!-margin-bottom-3">Contents</h2>
  <ul class="documentation-contents govuk-body">
    <li class="documentation-contents-item">
      <a class="govuk-link govuk-link--no-visited-state" href="#option-1">Option 1: the GOV.UK One Login service header</a>
    </li>
    <li class="documentation-contents-item">
      <a class="govuk-link govuk-link--no-visited-state" href="#option-2">Option 2: a paragraph on a dedicated page</a>
    </li>
    <li class="documentation-contents-item">
      <a class="govuk-link govuk-link--no-visited-state" href="#option-3">Option 3: inset text on your service homepage</a>
    </li>
  </ul>
  <hr class="govuk-section-break govuk-section-break--l govuk-section-break--visible govuk-!-margin-top-8 govuk-!-margin-bottom-8">
  <h2 class="govuk-heading-m govuk-!-margin-bottom-3" id="option-1">Option 1: the GOV.UK One Login service header</h2>
  <p class="govuk-body">Use <a class="govuk-link" href="/documentation/design-recommendations/let-users-navigate-sign-out">the GOV.UK One Login service header</a> if your service is using GOV.UK One Login.</p>
  <p class="govuk-body">The header gives users an easy, consistent route from your service to their GOV.UK One Login and a way to sign out. Your users can also update their sign in details or change how they get security codes.</p>
  <hr class="govuk-section-break govuk-section-break--l govuk-section-break--visible govuk-!-margin-top-8 govuk-!-margin-bottom-8">
  <h2 class="govuk-heading-m govuk-!-margin-bottom-3" id="option-2">Option 2: a paragraph on a dedicated page</h2>
  <p class="govuk-body">You can use this paragraph (written here in <a class="govuk-link" href="https://www.markdownguide.org/basic-syntax/">Markdown</a>):</p>
  <div class="gray-background-container">
    <p class="govuk-body"><code>You use your GOV.UK One Login to sign in to {Service name}.</code></p>
    <p class="govuk-body"><code>You can change these details in your GOV.UK One Login:</code></p>
    <p class="govuk-body">
      <code>
        - email address<br>
        - password<br>
        - how you get security codes to sign in
      </code>
    </p>
    <p class="govuk-body"><code>[Change your sign in details in your GOV.UK One Login]<br>(https://home.account.gov.uk/settings)</code></p>
  </div>
  <div class="govuk-!-margin-bottom-5 govuk-!-padding-top-6 labeled-images-container">
    <div>
      <img src="/assets/images/example-a.svg" alt="">
      <p class="govuk-body govuk-!-font-weight-bold govuk-!-padding-top-3">Example A</p>
    </div>
    <div class="labeled-images-container-right">
      <img src="/assets/images/example-b.svg" alt="">
      <p class="govuk-body govuk-!-font-weight-bold govuk-!-padding-top-3">Example B</p>
    </div>
  </div>
  <h3 class="govuk-heading-s clear-float govuk-!-padding-top-2">What is it?</h3>
  <p class="govuk-body">A paragraph of text which explains that users use GOV.UK One Login to sign in to this service. It tells users to go to their GOV.UK One Login to update their sign in details.</p>
  <p class="govuk-body">On example A, this text is on a ‘Your profile’ page. It’s underneath a section for ‘Service details’, which could be other ‘profile’ information your service collects.</p>
  <p class="govuk-body">On example B, the text is the only information on a ‘Change your sign in details’ page.</p>
  <h3 class="govuk-heading-s">When to use it</h3>
  <p class="govuk-body">Use this pattern if your service has a dedicated section where users can manage details and personal information.</p>
  <p class="govuk-body">Choose a heading from the examples above based on which option is grammatically consistent with the rest of the headings on the page.</p>
  <p class="govuk-body">For example, use ‘Change your sign in details’ if all your other headings are actions, like ‘View my profile’.</p>
  <p class="govuk-body">Use ‘Sign in details’ if they’re all nouns, like ‘Service details’.</p>
  <h3 class="govuk-heading-s">How it works</h3>
  <p class="govuk-body">The ‘Change your sign in details in your GOV.UK One Login’ link will take users to the page in their GOV.UK One Login where they can change their details.</p>
  <hr class="govuk-section-break govuk-section-break--l govuk-section-break--visible govuk-!-margin-top-8 govuk-!-margin-bottom-8">
  <h2 class="govuk-heading-m govuk-!-margin-bottom-3" id="option-3">Option 3: inset text on your service homepage</h2>
  <p class="govuk-body">You can use this paragraph:</p>
  <div class="gray-background-container">
    <p class="govuk-body"><code>You can [change your sign in details in your GOV.UK One Login](https://home.account.gov.uk/settings).</code></p>
  </div>
  <div class="govuk-!-margin-bottom-5 govuk-!-margin-top-6"><img src="/assets/images/Inset-text.svg" alt="" style="width: 42%; height: auto;"></div>
  <h3 class="govuk-heading-s">What is it?</h3>
  <p class="govuk-body">Content in an <a class="govuk-link" href="https://design-system.service.gov.uk/components/inset-text/">inset text component</a> tells users they can change their sign in details in their GOV.UK One Login.</p>
  <h3 class="govuk-heading-s">When to use it</h3>
  <p class="govuk-body">Use this design if your service is simple and does not have a dedicated area for users to manage their details.</p>
  <p class="govuk-body">In the example, we’ve put it on the service homepage. You can choose wherever makes most sense for your service though.</p>
  <h3 class="govuk-heading-s">How it works</h3>
  <p class="govuk-body">The link will take users to the page in their GOV.UK One Login where they can change their details.</p>
{% endblock %}

{% block widgets %}
  <div class="app-back-to-top app-back-to-top--hidden" data-module="app-back-to-top">
    <a class="govuk-link govuk-link--no-visited-state app-back-to-top__link" href="#top">
      <svg aria-hidden="true" focusable="false" class="app-back-to-top__icon" xmlns="http://www.w3.org/2000/svg" width="13" height="17" viewBox="0 0 13 17">
        <path fill="currentColor" d="M6.5 0L0 6.5 1.4 8l4-4v12.7h2V4l4.3 4L13 6.4z"/>
      </svg>Back to top
    </a>
  </div>
{% endblock %}

{% block scripts %}
  <script type="module" src="/assets/javascripts/back-to-top.js"></script>
{% endblock %}
