{% extends "base-side-nav.njk" %}
{% from "macros/breadcrumbs.njk" import breadcrumbs %}

{% set pageTitle = "Technical documentation" %}
{% set headerNavigationActiveItem = "documentation" %}
{% set sideNav = {name: "documentation", active: "documentation"} %}
{% set breadcrumbs = breadcrumbs(currentPageName = "Documentation") %}

{% block mainContent %}
  <h1 class="govuk-heading-l">Technical documentation</h1>
  <p class="govuk-body">Our technical documentation will help you:</p>
  <ul class="govuk-list govuk-list--bullet">
    <li>understand how GOV.UK One Login works</li>
    <li>integrate with GOV.UK One Login’s test environment for authentication</li>
  </ul>
  <p class="govuk-body">
    The documentation covers both the authentication and identity checking parts of GOV.UK One Login.
  </p>
  <p class="govuk-body">
    Only the authentication part is available to all central government services now.
  </p>
  <p class="govuk-body">
    We’ve included information about identity checks because this feature is being tested by selected services. It will also let all services see how our identity checks work.
  </p>

  <p class="govuk-body">
    <a class="govuk-link" href="https://docs.sign-in.service.gov.uk" rel="noreferrer noopener" target="_blank">Read our technical documentation (opens in new tab)</a>
  </p>
{% endblock %}
