{% extends "base-side-nav.njk" %}
{% from "macros/breadcrumbs.njk" import breadcrumbs %}

{% set pageTitle = "Sign in user journey maps" %}
{% set headerNavigationActiveItem = "documentation" %}
{% set sideNav = {name: "documentation", active: "journey-maps"} %}
{% set breadcrumbs = breadcrumbs([{text: "Documentation", href: "/documentation"}], pageTitle) %}

{% block mainContent %}
  <h1 class="govuk-heading-l">Sign in user journey maps</h1>
  <p class="govuk-body">There are 2 different ways of using GOV.UK One Login in your service. You can see a user journey map for both options.  For a more detailed view, request access to the <a class="govuk-link" href="https://www.sign-in.service.gov.uk/documentation/end-to-end-prototype/identity-journeys" rel="noreferrer noopener" target="_blank">GOV.UK One Login prototype</a>.</p>
  <p class="govuk-body">Both options have been through multiple rounds of user testing.</p>
  <div class="govuk-inset-text">
    We’re working on making our documentation more accessible. If you have any problems accessing these journey maps, please <a class="govuk-link" href="/contact-us">contact us</a>.
  </div>

  <h2 class="govuk-heading-m">Option 1: users create a GOV.UK One Login upfront</h2>
  <p class="govuk-body">This journey map shows a user creating a GOV.UK One Login at the start of your service journey.</p>
  <div class="govuk-!-margin-bottom-5"><img src="/assets/images/User-creates-account-upfront.svg" class="images__width_100" alt=""></div>
  <p class="govuk-body">Users start at your service’s start page, usually on GOV.UK. They create a GOV.UK One Login using their email address, a password and two-factor authentication. Then, they’re sent to your service to complete their journey.</p>
  <p class="govuk-body">This option is usually best for your service if you need all your users to create a GOV.UK One Login before they can do anything.</p>
  <h3 class="govuk-heading-s">See a map of the user-facing screens</h3>
  <p class="govuk-body">
    <a class="govuk-link" href="https://www.figma.com/design/raCO0C9Lq0cNJ2VKC5jwy5/GOV.UK-One-Login-sign-in-user-journey-maps?node-id=1-49" rel="noreferrer noopener" target="_blank">View option 1 in Figma (opens in new tab)</a>
  </p>

  <h2 class="govuk-heading-m">Option 2: users create a GOV.UK One Login to save progress</h2>
  <p class="govuk-body">This journey map shows a user creating a GOV.UK One Login in the middle of your service journey.</p>
  <div class="govuk-!-margin-bottom-5"><img src="/assets/images/User-creates-account-to-save-progress.svg" class="images__width_100" alt=""></div>
  <p class="govuk-body">Users start at your service’s start page, usually on GOV.UK. They complete part of your journey, then decide they want to finish it later.</p>
  <p class="govuk-body">To save their progress, they create a GOV.UK One Login using their email address, a password and two-factor authentication.</p>
  <p class="govuk-body">Later, they return to your service and resume their journey by signing in to their GOV.UK One Login.</p>
  <p class="govuk-body">This option is usually best for your service if you do not need all your users to create a GOV.UK One Login, but want to give them the option of saving their progress.</p>
  <h3 class="govuk-heading-s">See a map of the user-facing screens</h3>
  <p class="govuk-body">
    <a class="govuk-link" href="https://www.figma.com/design/raCO0C9Lq0cNJ2VKC5jwy5/GOV.UK-One-Login-sign-in-user-journey-maps?node-id=0-1" rel="noreferrer noopener" target="_blank">View option 2 in Figma (opens in new tab)</a>
  </p>
  <h3 class="govuk-heading-s">View design recommendations</h3>
  <p class="govuk-body">See <a class="govuk-link" href="https://www.sign-in.service.gov.uk/documentation/design-recommendations/save-progress">Let users create a GOV.UK One Login to save progress</a> for more detail on how to incorporate the ‘save and complete later’ journey into your service.</p>
{% endblock %}
