{% extends "base-side-nav.njk" %}
{% from "macros/breadcrumbs.njk" import breadcrumbs %}

{% set pageTitle = "How to talk about GOV.UK One Login" %}
{% set headerNavigationActiveItem = "documentation" %}
{% set sideNav = {name: "documentation", active: "how-to-talk-about"} %}
{% set breadcrumbs = breadcrumbs([{text: "Documentation", href: "/documentation"}]) %}

{% block mainContent %}
  <h1 class="govuk-heading-l">How to talk about GOV.UK One Login</h1>
  <h2 class="govuk-heading-m">When talking to users</h2>
  <p class="govuk-body">GOV.UK One Login allows you to sign in to some government services using the same email address and password.</p>
  <p class="govuk-body">In the future you’ll be able to use your GOV.UK One Login to access all services on GOV.UK.</p>
  <h2 class="govuk-heading-m">Using the name in content</h2>
  <p class="govuk-body">Always use the product’s full name - ‘GOV.UK One Login’.</p>
  <p class="govuk-body">Examples:</p>
  <ul class="govuk-list govuk-list--bullet">
    <li>GOV.UK One Login is new. At the moment you can only use a / your GOV.UK One Login with a few services</li>
    <li>Give feedback about GOV.UK One Login</li>
  </ul>
  <p class="govuk-body">Never use:</p>
  <ul class="govuk-list govuk-list--bullet">
    <li>GUOL</li>
    <li>GOV.UK OL</li>
    <li>One Login (without GOV.UK logo)</li>
    <li>GOV.UK One Sign In / Sign On</li>
    <li>GOV.UK One Log In / Log On</li>
    <li>One Login for government</li>
    <li>Single sign-on for government</li>
  </ul>
  <h2 class="govuk-heading-m">In Welsh</h2>
  <p class="govuk-body">Do not translate the name GOV.UK One Login into Welsh.</p>
  <h2 class="govuk-heading-m">GOV.UK ID Check app</h2>
  <p class="govuk-body">Use the full name of the app when referring to it: ‘GOV.UK ID Check app'.</p>
  <h2 class="govuk-heading-m">In products</h2>
  <p class="govuk-body">Use GOV.UK One Login as a noun.</p>
  <p class="govuk-body">This helps with account confusion because many services have accounts. For example, Childcare account, Personal tax account.</p>
  <p class="govuk-body">This allows us to categorise and label relevant services as accounts in a user's GOV.UK One Login home.</p>
  <p class="govuk-body govuk-!-font-weight-bold">When we know users have a GOV.UK One Login</p>
  <p class="govuk-body">Examples:</p>
  <ul class="govuk-list govuk-list--bullet">
    <li>Use / Use your GOV.UK One Login to…</li>
    <li>You can…with / with your GOV.UK One Login</li>
    <li>You already have a GOV.UK One Login</li>
    <li>You can currently only prove your identity with your GOV.UK One Login if you have a UK passport</li>
    <li>There are some government services that you cannot use with your GOV.UK One Login yet</li>
  </ul>
  <p class="govuk-body govuk-!-font-weight-bold">When we don’t know if users have a GOV.UK One Login</p>
  <p class="govuk-body">Examples:</p>
  <ul class="govuk-list govuk-list--bullet">
    <li>Use / Use your GOV.UK One Login to…</li>
    <li>You can…with / with your GOV.UK One Login</li>
    <li>If you already have a GOV.UK One Login</li>
    <li>You can currently only prove your identity with / with a GOV.UK One Login if you have a UK passport or driving licence</li>
    <li>There are some government services that you cannot use with / with a GOV.UK One Login yet</li>
  </ul>
  <h2 class="govuk-heading-m">Using the word 'account'</h2>
  <p class="govuk-body">Do not use the word ‘account’ to describe or refer to GOV.UK One Login. Instead say:</p>
  <ul class="govuk-list govuk-list--bullet">
    <li>Use / Use your GOV.UK One Login to…</li>
    <li>You already have a GOV.UK One Login</li>
  </ul>
  <h2 class="govuk-heading-m">In headers and banners</h2>
  <p class="govuk-body govuk-!-font-weight-bold">Desktop</p>
  <p class="govuk-body">Always use GOV.UK One Login.</p>
  <p class="govuk-body">Never use:</p>
  <ul class="govuk-list govuk-list--bullet">
    <li>GOV.UK One Login account</li>
    <li>One Login</li>
  </ul>
  <h2 class="govuk-heading-m">Creating a GOV.UK One Login</h2>
  <p class="govuk-body">For creating a GOV.UK One Login, use:</p>
  <ul class="govuk-list govuk-list--bullet">
    <li>Create a GOV.UK One Login to…</li>
    <li>You need a GOV.UK One Login to continue</li>
  </ul>
  <h2 class="govuk-heading-m">Signing in</h2>
  <p class="govuk-body">For signing in to a service, use:</p>
  <ul class="govuk-list govuk-list--bullet">
    <li>Sign in with / with your / with a GOV.UK One Login</li>
    <li>Use GOV.UK One Login to sign in, if you have one</li>
  </ul>
  <p class="govuk-body">For signing in to GOV.UK One Login, use:</p>
  <ul class="govuk-list govuk-list--bullet">
    <li>Sign in to your GOV.UK One Login</li>
    <li>If you already use / have a GOV.UK One Login, you can sign in to manage your settings.</li>
  </ul>
  <p class="govuk-body">Never use:</p>
  <ul class="govuk-list govuk-list--bullet">
    <li>Login to GOV.UK One Login</li>
  </ul>
  <h2 class="govuk-heading-m">Getting help and support</h2>
  <p class="govuk-body">Example:</p>
  <p class="govuk-body">If you need help, contact the GOV.UK One Login team.</p>
  <h2 class="govuk-heading-m">Identity</h2>
  <p class="govuk-body govuk-!-font-weight-bold">Identity proving</p>
  <p class="govuk-body">Identity proving is the act of confirming that an identity:</p>
  <ul class="govuk-list govuk-list--bullet">
    <li>is a real person</li>
    <li>actually belongs to the person trying to prove their identity</li>
  </ul>
  <p class="govuk-body">A service needs to check a user’s identity if, for example, it:</p>
  <ul class="govuk-list govuk-list--bullet">
    <li>shows a user personal information about themselves, such as their driving licence or passport details</li>
    <li>gives the user something valuable, such as money or benefits</li>
  </ul>
  <p class="govuk-body">Use ‘Prove your identity’ when it’s someone proving their own identity.</p>
  <p class="govuk-body">Use ‘proved’ and not ‘proven’. For example, ‘You have already proved your identity’.</p>
  <p class="govuk-body">Never use:</p>
  <ul class="govuk-list govuk-list--bullet">
    <li>identity verification</li>
    <li>identity checking</li>
  </ul>
  <p class="govuk-body govuk-!-font-weight-bold">Prove your identity in person</p>
  <p class="govuk-body">This is a way for users to prove their identity in person, without using the online service.</p>
  <p class="govuk-body">Example:</p>
  <p class="govuk-body">You can prove your identity in person</p>
  <p class="govuk-body">Never use:</p>
  <ul class="govuk-list govuk-list--bullet">
    <li>in-person verification (IPV)</li>
  </ul>
  <p class="govuk-body govuk-!-font-weight-bold">Answering security questions</p>
  <p class="govuk-body">This is a way to prove someone is who they claim to be by asking them questions only they should know the answers to.</p>
  <p class="govuk-body">We use knowledge-based verification (KBV) questions as part of our identity journey.</p>
  <p class="govuk-body">Do not use this term when talking about GOV.UK One Login. Instead, talk about ‘answering security questions using information only you should know’.</p>
  <p class="govuk-body">Never use:
  <ul class="govuk-list govuk-list--bullet">
    <li>knowledge-based verification (KBV)</li>
  </ul>
  <h2 class="govuk-heading-m">Further guidance about GOV.UK One Login</h2>
  <p class="govuk-body">You could also look at the:</p>
  <ul class="govuk-list govuk-list--bullet">
    <li>GOV.UK One Login section in the <a class="govuk-link" href="https://www.gov.uk/guidance/style-guide/a-to-z-of-gov-uk-style#govuk-one-login">GOV.UK style guide</a></li>
    <li><a class="govuk-link" href="https://www.gov.uk/using-your-gov-uk-one-login">Using your GOV.UK One Login guide</a></li>
  </ul>
{% endblock %}
