{% extends "base.njk" %}

{% block pageTitle %}About GOV.UK Sign In – GOV.UK Product Pages{% endblock %}

{% set mainClasses = "govuk-main-wrapper govuk-main-wrapper--auto-spacing" %}

{% block beforeContent %}
  <div class="govuk-width-container">
    <div class="govuk-breadcrumbs">
      <ol class="govuk-breadcrumbs__list">
        <li class="govuk-breadcrumbs__list-item">
          <a class="govuk-breadcrumbs__link" href="https://www.gov.uk/service-toolkit#gov-uk-services">GOV.UK services</a>
        </li>
        <li class="govuk-breadcrumbs__list-item">
          <a class="govuk-breadcrumbs__link" href="/">GOV.UK Sign In</a>
        </li>
        <li class="govuk-breadcrumbs__list-item">
          <a class="govuk-breadcrumbs__link" href="#main-content" aria-current="page">Find out more</a>
        </li>
      </ol>
    </div>
  </div>
{% endblock %}

{% block content %}

  <div class="govuk-width-container">
    <div class="govuk-grid-row">
      <div class="govuk-grid-column-two-thirds">
        <h1 class="govuk-heading-l">Find out more about GOV.UK Sign In</h1>

        <p class="govuk-body">GOV.UK Sign In lets your users sign in to your service quickly and easily.</p>

        <p class="govuk-body">It’s easy to implement, secure and fully supported by the GDS team.</p>
      </div>
    </div>
    <div class="govuk-grid-row">
      <div class="govuk-grid-column-two-thirds">
        <h2 class="govuk-heading-m govuk-!-padding-top-6">What GOV.UK Sign In does</h2>

        <p class="govuk-body">GOV.UK Sign In makes it easy for users to sign in and access government services securely.</p>

        <p class="govuk-body">
          This means:
        <ul class="govuk-list govuk-list--bullet">
          <li>
            users can save their progress while filling in a form and return to it later
          </li>
          <li>
            you know it’s always the same person accessing an account
          </li>
          <li>
            user data is protected
          </li>
        </ul>
        </p>

        <h2 class="govuk-heading-m govuk-!-padding-top-6">How this helps your users</h2>

        <p class="govuk-body">
          GOV.UK Sign In will become the only way to sign in to government services. For users that means they’ll:
        <ul class="govuk-list govuk-list--bullet">
          <li>
            be able to access all information about the services they’ve used in one place
          </li>
          <li>
            only have to remember one set of sign in details
          </li>
        </ul>
        </p>
        <p class="govuk-body">
          GOV.UK Sign In is only for individuals, and not business users, at the moment.
        </p>
      </div>
    </div>

    <div class="govuk-grid-row">
      <div class="govuk-grid-column-two-thirds">
        <h2 class="govuk-heading-m govuk-!-padding-top-6">Who can use GOV.UK Sign In</h2>

        <p class="govuk-body">
          For now, you can use GOV.UK Sign In if you run a central government service
          that needs authentication. At the moment, this doesn&apos;t include the police, NHS or local authorities.
        </p>

        <p class="govuk-body">
          You will also need dedicated technical expertise in your own team to connect to GOV.UK Sign In.
        </p>
      </div>
    </div>

    <div class="govuk-grid-row">
      <div class="govuk-grid-column-two-thirds">
        <h2 class="govuk-heading-m govuk-!-padding-top-6">What registering your interest means</h2>

        <p class="govuk-body">
          Once you tell us you’re interested in GOV.UK Sign In, there are 3 things you’ll be able to do.
        </p>
        
        <h3 class="govuk-heading-s">Stay up to date with our progress</h3>

        <p class="govuk-body">
          You can get more information on our work by joining our mailing list and coming to our cross-government show and tells.
        </p>
        
        <h3 class="govuk-heading-s">Have a say in how GOV.UK Sign In develops</h3>

        <p class="govuk-body">
          We arrange a phone call with every team that tells us they’re interested. We’ll ask you more about your service and what you need from an authentication or identity checking product.
        </p>

        <p class="govuk-body">
          This phone call will help us understand things like: 
        <ul class="govuk-list govuk-list--bullet">
          <li>how your service works</li>
          <li>what sort of things you need to check about your users</li>
          <li>how those checks fit into your user journey</li>
        </ul>
        </p>
        
        <p class="govuk-body">
          We’ll also invite you to take part in user research sessions. We’ll show you prototypes and ideas we’ve been working on and make sure we’re building things that meet your needs.
        </p>
        
        <h3 class="govuk-heading-s">Potentially join private beta</h3>
        
        <p class="govuk-body">
          We need to work with some services in private beta from late 2021. We’ll choose the services we can learn the most from.
        </p>

        <p class="govuk-body">
          <a href="/register" class="govuk-link">Register your interest</a> in using GOV.UK Sign In.
        </p>
      </div>
    </div>

    <div class="govuk-grid-row">
      <div class="govuk-grid-column-two-thirds">
        <h2 class="govuk-heading-m govuk-!-padding-top-6">Identity checks</h2>

        <p class="govuk-body">
          In future, GOV.UK Sign In will offer identity checks as well as authentication.
        </p>

        <p class="govuk-body">
          <a href="/identity-checks" class="govuk-link">Find out more about our identity checks work.</a>
        </p>

        <br>

        <hr class="govuk-border-colour">

        <br>
      </div>
    </div>

    <div class="govuk-grid-row">
      <div class="govuk-grid-column-two-thirds">
        <h2 class="govuk-heading-m govuk-!-padding-top-6">Contact us</h2>

        <p class="govuk-body">
          We’d like to hear from you if:
        <ul class="govuk-list govuk-list--bullet">
          <li>
            you have any questions about GOV.UK Sign In
          </li>
          <li>
            anything is unclear in these pages
          </li>
          <li>
            you think something is missing from these pages
          </li>
        </ul>
        </p>

        <p class="govuk-body">
          Contact us at <a class="govuk-link" href="mailto:govuk-sign-in@digital.cabinet-office.gov.uk">govuk-sign-in@digital.cabinet-office.gov.uk</a>.
        </p>
      </div>
    </div>
  </div>

{% endblock %}
