{% extends "base.njk" %}
{% from "macros/breadcrumbs.njk" import breadcrumbs %}

{% set pageTitle = "Public beta" %}
{% set headerNavigationActiveItem = "get-started" %}
{% set breadcrumbs = breadcrumbs([{text: "Get started", href: "/getting-started"}], pageTitle) %}

{% block mainContent %}
  <h1 class="govuk-heading-l">Find out more about public beta</h1>
  <p class="govuk-body">GOV.UK One Login is currently in public beta. This means we’re making it available to a selection of service teams. This will help us learn how it works on a larger scale, with real users.</p>
  <p class="govuk-body">We‘ll choose which services to work with on a case-by-case basis. We’ll invite services that help us learn about the features we’ll need as we scale up.</p>
  <h2 class="govuk-heading-m">What to expect</h2>
  <p class="govuk-body">If you join the public beta, you’ll get:</p>
  <ul class="govuk-list govuk-list--bullet">
    <li>early access to GOV.UK One Login for all your live traffic</li>
    <li>the opportunity to feed into our plans and shape the future of our service</li>
    <li>support from our team throughout</li>
  </ul>
  <p class="govuk-body">We’ll need you to:</p>
  <ul class="govuk-list govuk-list--bullet">
    <li>integrate with GOV.UK One Login to allow your users to sign in to your service</li>
    <li>give us regular feedback about your experiences of using and onboarding to GOV.UK One Login - we’ll agree on how and how often you give feedback to make sure it works for both of us</li>
  </ul>
  <h2 class="govuk-heading-m">Who can join</h2>
  <p class="govuk-body">To join the public beta, you need to:</p>
  <ul class="govuk-list govuk-list--bullet">
    <li>work in a central government department - NHS organisations, local authorities and higher education are out of scope for now</li>
    <li>have a service in beta or live</li>
    <li>need to sign in your users only to authenticate them only or authenticate and check their identities</li>
    <li>be able to integrate with GOV.UK One Login - this means you need access to developers who are comfortable working with the OpenID Connect (OIDC) protocol and the processes set out in our <a class="govuk-link" href="https://docs.sign-in.service.gov.uk/integrate-with-integration-environment">technical documentation</a></li>
  </ul>
  <h2 class="govuk-heading-m">The joining process</h2>
  <p class="govuk-body">If you meet the beta criteria and would like to take part, <a class="govuk-link" href="/register">register your interest to join our public beta to try GOV.UK One Login</a>. The NHS, local government and higher education sectors are currently out of scope for our public beta.</p>
  <p class="govuk-body">You can then speak to us about your service and access our integration environment. If you decide GOV.UK One Login meets your needs, email us to let us know you’d like to join the beta.</p>
  <p class="govuk-body">Then, we’ll email you a form to fill in to give us more detailed information about your service. We’ll review the information you send back to us and let you know within 2 weeks whether you can join the beta.</p>
  <div class="govuk-inset-text">Even if you meet the criteria, this does not guarantee that you’ll be able to take part. We must choose services that we can learn the most from.</div>
  <p class="govuk-body">Once you’ve been accepted, you’ll need to:</p>
  <ul class="govuk-list govuk-list--bullet">
    <li>sign our memorandum of understanding</li>
    <li>provide some details to help us prepare for you to go live - for example user support information</li>
  </ul>
  <p class="govuk-body">You may also be asked to participate in our user research to help improve GOV.UK One Login.</p>
{% endblock %}
