{% extends "base.njk" %}
{% from "govuk/components/button/macro.njk" import govukButton %}

{% block pageTitle %}Get started - GOV.UK Sign In{% endblock %}
{% set baseClasses = "govuk-!-padding-top-4" %}
{% set headerNavigationActiveItem = "get-started" %}

{% block beforeContent %}
  <div class="govuk-width-container">
    <div class="govuk-breadcrumbs">
      <ol class="govuk-breadcrumbs__list">
        <li class="govuk-breadcrumbs__list-item">
          <a class="govuk-breadcrumbs__link" href="https://www.gov.uk/service-toolkit#gov-uk-services">GOV.UK services</a>
        </li>
        <li class="govuk-breadcrumbs__list-item">
          <a class="govuk-breadcrumbs__link" href="/">GOV.UK Sign In</a>
        </li>
        <li class="govuk-breadcrumbs__list-item">
          <a class="govuk-breadcrumbs__link" href="#main-content" aria-current="page">Get started</a>
        </li>
      </ol>
    </div>
  </div>
{% endblock %}

{% block content %}
  <div class="govuk-grid-row">
    <div class="govuk-grid-column-two-thirds">

      <h1 class="govuk-heading-l">Get started</h1>
      <h2 class="govuk-heading-m">1. Check if GOV.UK Sign In is right for you</h2>
      <p class="govuk-body">
        GOV.UK Sign In is new. You can use it now if you’re from a central government service and you need to sign in your users. We’ll add more features over time.
      </p>
      <p class="govuk-body">
        You can read:
      </p>
      <ul class="govuk-list govuk-list--bullet">
        <li>
          about the <a class="govuk-link" href="/features">features GOV.UK Sign In currently offers</a>
        </li>
        <li>
          our <a class="govuk-link" href="/documentation">documentation</a> on how to integrate GOV.UK Sign In with your service
        </li>
      </ul>
      <h2 class="govuk-heading-m govuk-!-padding-top-4">2. Sign up to get access</h2>
      <p class="govuk-body">You’ll need to give us some information about your organisation and service.</p>
      <p class="govuk-body govuk-!-padding-bottom-2">We’ll get in touch to talk more about your service’s needs and give you access to our test environment (or ‘sandbox’).</p>
      {{ govukButton({
        text: "Get access",
        href: "/register",
        isStartButton: true
      }) }}
      <h2 class="govuk-heading-m govuk-!-padding-top-2">3. Test GOV.UK Sign In</h2>
      <p class="govuk-body">
        In the test environment, you can integrate your service with GOV.UK Sign In to see for yourself how it works.
      </p>
      <h2 class="govuk-heading-m govuk-!-padding-top-4">4. Join private beta and go live</h2>
      <p class="govuk-body">If you’ve tested GOV.UK Sign In and you want to use it for your service, you can request to join our private beta.</p>
      <p class="govuk-body">Once you’re in the beta, you can access the production environment and go live.</p>
      <p class="govuk-body">
        <a class="govuk-link" href="/getting-started/private-beta">Read more about private beta</a> including the eligibility criteria and what to expect if you join.
      </p>
      <hr class="govuk-section-break govuk-section-break--l govuk-section-break--visible govuk-!-margin-top-7 govuk-!-margin-bottom-4">
      <h2 class="govuk-heading-m govuk-!-padding-top-4">Contact us</h2>
      <p class="govuk-body">
        If you have questions or feedback, contact us using our <a class="govuk-link" href="/support">support form</a>. You can also use our <a class="govuk-link" href="https://ukgovernmentdigital.slack.com/archives/C02AQUJ6WTC">Slack channel</a> if you’re from a government service team.
      </p>

    </div>
  </div>
{% endblock %}
