{% extends "base.njk" %}
{% from "macros/breadcrumbs.njk" import breadcrumbs %}
{% from "govuk/components/button/macro.njk" import govukButton %}

{% set pageTitle = "Get started" %}
{% set headerNavigationActiveItem = "get-started" %}
{% set breadcrumbs = breadcrumbs(currentPageName = pageTitle) %}
{% set registerButtonLink %}{{ adminToolUrl }}/register{% endset %}

{% block mainContent %}
  <h1 class="govuk-heading-l">Get started with GOV.UK One Login</h1>
  <p class="govuk-body">You can use GOV.UK One Login if you’re from a central government service and need to sign in your users or check their identities.</p>
  <p class="govuk-body"><a class="govuk-link" href="/about">Read more about GOV.UK One Login</a>
  </p>
  <h2 class="govuk-heading-m govuk-!-padding-top-4">Get in touch or try GOV.UK One Login</h2>
  <p class="govuk-body">Register your interest if you think GOV.UK One Login is right for your service. We’ll contact you within 5 days to find out more about what your service needs.</p>
  {{ govukButton({
    text: "Register your interest",
    href: "/register"
  }) }}
  <h2 class="govuk-heading-m govuk-!-padding-top-2">Try GOV.UK One Login</h2>
  <p class="govuk-body">Set up an admin tool account to try GOV.UK One Login in our integration environment. You'll need a:</p>
      <ul class="govuk-list govuk-list--bullet">
        <li>government email address</li>
        <li>mobile phone number</li>
      </ul>
  {{ govukButton({
    text: "Create admin tool account",
    href: registerButtonLink
  }) }}
    <p class="govuk-body">
      or <a class="govuk-link" href="{{ adminToolUrl }}/sign-in">sign in</a>
    </p>
  <h2 class="govuk-heading-m govuk-!-padding-top-4">Contact us</h2>
  <p class="govuk-body">Use our <a class="govuk-link" href="/support">online form</a> to report problems, ask questions or suggest improvements.</p>
  <p class="govuk-body">You can also get in touch using our <a class="govuk-link" href="https://ukgovernmentdigital.slack.com/archives/C02AQUJ6WTC">Slack channel</a></p>
{% endblock %}
{% block scripts %}
  {{ga4OnPageLoad({
    statusCode:"200",
    englishPageTitle: pageTitle,
    taxonomyLevel1: taxonomyLevel1,
    taxonomyLevel2: taxonomyLevel2Register,
    contentId:"db7387ba-09cf-402f-90c9-9d651770bf77",
    loggedInStatus:false,
    dynamic:false
  })}}
{% endblock %}
