{% extends "base.njk" %}

{% block pageTitle %}Get started - GOV.UK Sign In{% endblock %}

{% set mainClasses = "govuk-main-wrapper govuk-main-wrapper--auto-spacing" %}
{% set headerNavigationItemActiveGetStarted = "govuk-header__navigation-item--active" %}

{% block beforeContent %}
  <div class="govuk-width-container">
    <div class="govuk-breadcrumbs">
      <ol class="govuk-breadcrumbs__list">
        <li class="govuk-breadcrumbs__list-item">
          <a class="govuk-breadcrumbs__link" href="https://www.gov.uk/service-toolkit#gov-uk-services">GOV.UK services</a>
        </li>
        <li class="govuk-breadcrumbs__list-item">
          <a class="govuk-breadcrumbs__link" href="/">GOV.UK Sign In</a>
        </li>
        <li class="govuk-breadcrumbs__list-item">
          <a class="govuk-breadcrumbs__link"  href="#main-content" aria-current="page">Get started</a>
        </li>
      </ol>
    </div>
  </div>
{% endblock %}

{% block content %}
  <div class="govuk-width-container">
    <div class="govuk-grid-row">
      <div class="govuk-grid-column-two-thirds">
        <h1 class="govuk-heading-l">Get started with GOV.UK Sign In</h1>
      </div>
    </div>

    <div class="govuk-grid-row">
      <div class="govuk-grid-column-two-thirds">
        <h2 class="govuk-heading-m govuk-!-padding-top-6">1. Check if GOV.UK Sign In is right for you</h2>

        <p class="govuk-body">
          GOV.UK Sign In is for central government services that need authentication.
        </p>

        <p class="govuk-body">You will also need to have development expertise in your team.</p>
        <p class="govuk-body"><a class="govuk-link" href="/features">See the features GOV.UK Sign In currently offers.</a></p>
      </div>
    </div>

    <div class="govuk-grid-row">
      <div class="govuk-grid-column-two-thirds">
        <h2 class="govuk-heading-m govuk-!-padding-top-6">2. Register your interest</h2>

        <p class="govuk-body">
          <a class="govuk-link" href="/register">Register your interest</a> by giving us some information about your
          organisation and your service.
        </p>

        <p class="govuk-body">Once you've done this, you'll be able to:</p>

        <ul class="govuk-list govuk-list--bullet">
          <li>
            speak to us about your service’s identity checking needs
          </li>
          <li>
            take part in our user research
          </li>
          <li>
            get updates about our work
          </li>
          <li>
            potentially join our group of private beta partners
          </li>
        </ul>
       </div>
    </div>

     <div class="govuk-grid-row">
      <div class="govuk-grid-column-two-thirds">
        <h2 class="govuk-heading-m govuk-!-padding-top-6">3. Test GOV.UK Sign In</h2>

        <p class="govuk-body">
          If your service needs authentication and you work in central government, we’ll give you access to our test environment (or ‘sandbox’). You’ll be able to integrate your service to see how it works for yourself.
        </p>

        <p class="govuk-body">We’ll also send you information including:</p>

        <ul class="govuk-list govuk-list--bullet">
          <li>
            our current timescales
          </li>
          <li>
            GOV.UK Sign In user journey maps
          </li>
          <li>
            suggested design patterns for linking your user journey to GOV.UK Sign In
          </li>
        </ul>

        <p class="govuk-body">
          You can request to join our private beta if you think GOV.UK Sign In is right for you.
        </p>
       </div>
    </div>

    <div class="govuk-grid-row">
      <div class="govuk-grid-column-two-thirds">
        <h2 class="govuk-heading-m govuk-!-padding-top-6">4. Join private beta and go live</h2>

        <p class="govuk-body">
          Once you’ve been accepted into the private beta, you’ll need to sign our memorandum of understanding.
        </p>

        <p class="govuk-body">
          You can then go live with support from our technical team, who will be available 24/7 for urgent incidents.
        </p>
      </div>
    </div>

    <div class="govuk-grid-row">
      <div class="govuk-grid-column-two-thirds">
        <h2 class="govuk-heading-m govuk-!-padding-top-6">Contact us</h2>
        <p class="govuk-body">
          If you have questions or feedback, contact us using our <a class="govuk-link" href="/support">support form</a>. You can also use our <a class="govuk-link" href="https://ukgovernmentdigital.slack.com/archives/C02AQUJ6WTC">Slack channel</a> if you’re from a government service team.
        </p>
      </div>
    </div>
  </div>
{% endblock %}
