{% extends "base.njk" %}

{% block pageTitle %}Identity checks – GOV.UK Product Pages{% endblock %}

{% set mainClasses = "govuk-main-wrapper govuk-main-wrapper--auto-spacing" %}

{% block beforeContent %}
  <div class="govuk-width-container">
    <div class="govuk-breadcrumbs">
      <ol class="govuk-breadcrumbs__list">
        <li class="govuk-breadcrumbs__list-item">
          <a class="govuk-breadcrumbs__link" href="https://www.gov.uk/service-toolkit#gov-uk-services">GOV.UK services</a>
        </li>
        <li class="govuk-breadcrumbs__list-item">
          <a class="govuk-breadcrumbs__link" href="/">GOV.UK Sign In</a>
        </li>
        <li class="govuk-breadcrumbs__list-item">
          <a class="govuk-breadcrumbs__link"  href="#main-content" aria-current="page">Identity checks</a>
        </li>
      </ol>
    </div>
  </div>
{% endblock %}

{% block content %}

  <div class="govuk-width-container">
    <div class="govuk-grid-row">
      <div class="govuk-grid-column-two-thirds">

        <h1 class="govuk-heading-l">Identity checks</h1>

        <p class="govuk-body">In future, GOV.UK Sign In will offer identity checking as well as authentication. That means you’ll be able to prove that users are who they say they are.</p>

        <h2 class="govuk-heading-m">What we’ve learnt so far</h2>

        <p class="govuk-body">The identity work for GOV.UK Sign In is in private beta.</p>

        <p class="govuk-body">From our <a class="govuk-link" href="https://www.gov.uk/service-standard-reports/gov-dot-uk-sign-in-end-user-digital-identity-checks">alpha</a>, we know we will need to:</p>

        <ul class="govuk-list govuk-list--bullet">
          <li>
            let users prove their identity using whatever proof they have available and not just rely on passports and driving licences
          </li>
          <li>
            let you choose the most appropriate point in your users’ journey for GOV.UK Sign In
          </li>
          <li>
            use different identity strengths, meaning you can choose the right level for your service
          </li>
          <li>
            work across multiple channels, meaning no user should be excluded
          </li>
          <li>
            use the government standard for identity checks (<a class="govuk-link" href="https://www.gov.uk/government/publications/identity-proofing-and-verification-of-an-individual">Good Practice Guide 45</a>)
          </li>
        </ul>

        <h2 class="govuk-heading-m">What comes next</h2>

        <p class="govuk-body">Now we’re in private beta, we’ll invite a few services to be our partner services. We’ll work with the services that we can learn the most from. </p>

        <p class="govuk-body">We expect to start working with our identity private beta partners in early 2022.</p>

        <h2 class="govuk-heading-m">Help us design the identity checks</h2>

        <p class="govuk-body">Register your interest if you’re interested in being our private beta partner. It’ll only take 10 minutes.</p>

        <p class="govuk-body">Once you’ve registered, we’ll:</p>

        <ul class="govuk-list govuk-list--bullet">
          <li>
            arrange a call with you to find out more about your service
          </li>
          <li>
            contact you to help us with our user research
          </li>
          <li>
            add your service to our pool of potential beta partners
          </li>
        </ul>

        <p class="govuk-body">We can also answer any questions you have for us.</p>

        <p class="govuk-body"><a class="govuk-link" href="https://www.sign-in.service.gov.uk/register">Register your interest</a> in identity.</p>

      </div>
    </div>
  </div>

{% endblock %}
