{% extends "base.njk" %}
{% from "govuk/components/button/macro.njk" import govukButton %}

{% block pageTitle %}GOV.UK Sign In{% endblock %}

{% set mainClasses = "govuk-main-wrapper--auto-spacing product-page-home" %}

{% block beforeContent %}
  <div class="hero-breadcrumb-banner">
    <div class="hero hero--breaded">
      <div class="govuk-breadcrumbs breadcrumbs-hero">
        <ol class="govuk-breadcrumbs__list ">
          <li class="govuk-breadcrumbs__list-item">
            <a class="govuk-breadcrumbs__link" href="https://www.gov.uk/service-toolkit#gov-uk-services">GOV.UK services</a>
          </li>
          <li class="govuk-breadcrumbs__list-item">
            <a class="govuk-breadcrumbs__link" href="#main-content" aria-current="page">GOV.UK&nbsp;Sign In</a>
          </li>
        </ol>
      </div>
    </div>
  </div>
{% endblock %}

{% block content %}
  <div class="masthead">
    <div class="hero">
      <div class="hero__content">
      <div class="hero__body" id="index-hero-body">
        <h1 class="hero__title">Let users sign in to your service</h1>

        <p class="hero__description">
          Try GOV.UK Sign In if you work on a central government service.
        </p>

        <a href="/getting-started" role="button" draggable="false" class="govuk-button govuk-button--start app-button--inverted">
          Get started
          <svg aria-hidden="true" class="govuk-button__start-icon" xmlns="http://www.w3.org/2000/svg" width="17.5" height="19" viewBox="0 0 33 40" focusable="false">
          <path fill="currentColor" d="M0 0h13l20 20-20 20H0l20-20z" />
          </svg>
        </a>
        <span class="hero-alternative-action">
    or &nbsp;<a class="govuk-link" href="/features" data-click-events data-click-category="Hero" data-click-action="Internal link clicked">see what GOV.UK Sign In offers</a>
    </span>
      </div>
      <div class="hero__aside-image">
        <img src="/dist/images/product-illustration_govuk_signin.png" alt="" role="presentation">
      </div>
      </div>
    </div>
  </div>

  <div class="govuk-width-container">

    <div class="govuk-grid-row content-section govuk-!-margin-bottom-7 feature-row">
      <div class="govuk-grid-column-one-half feature-column">
      <div class="govuk-panel feature-panel">
        <h2 class="govuk-heading-m homepage-h2-with-banner-below">
          Let users sign in
        </h2>
        <p class="govuk-body">
          <strong class="govuk-tag">
            Available now
          </strong>
        </p>
        <p class="govuk-body">
          Let your users sign into your service with their email address, password and two-factor authentication.
        </p>
        <p class="govuk-body">
          They’ll be able to use these details to access all services that use GOV.UK Sign In. This is part of our ‘one login for government’ vision.
        </p>
        <p class="govuk-body">
          <a class="govuk-link" href="/features">See the features available now.</a>
        </p>
      </div>
      </div>
      <div class="govuk-grid-column-one-half  feature-column">
      <div class="govuk-panel feature-panel">
        <div class="govuk-!-margin-bottom-5"><img src="/dist/images/Sign-in.svg" alt="" style="width: 100%; height: auto;"></div>
      </div>
      </div>
    </div>

    <div class="govuk-grid-row govuk-!-margin-bottom-7 feature-row">
      <div class=" govuk-grid-column-one-half feature-column">
      <div class="govuk-panel feature-panel">
        <h2 class="govuk-heading-m homepage-h2-with-banner-below heading-m-mobile-border">
          Check the identity of your users
        </h2>
        <p class="govuk-body">
          <strong class="govuk-tag govuk-tag--blue">
            Available soon
          </strong>
        </p>
        <p class="govuk-body">
          Soon we’ll add identity checks to GOV.UK Sign In.
        </p>
        <p class="govuk-body">
          You’ll get confirmation that the person is who they say they are without having to do any checks yourself.
        </p>
        <p class="govuk-body">
          Users will be able to reuse these checks to access other government services.
        </p>
        <p class="govuk-body">
          <a class="govuk-link" href="/features/roadmap">See our roadmap</a> for more about our future plans.
        </p>
      </div>
      </div>
      <div class=" govuk-grid-column-one-half feature-column">
      <div class="govuk-panel feature-panel">
        <div class="govuk-!-margin-bottom-5"><img src="/dist/images/Identity.svg" alt="" style="width: 100%; height: auto;"></div>
      </div>
      </div>
    </div>

    <div class="govuk-grid-row govuk-!-margin-bottom-7 feature-row">
      <div class=" govuk-grid-column-one-half feature-column mobile-view-padding-bottom-2">
      <div class="govuk-panel feature-panel">
        <h2 class="govuk-heading-m heading-m-mobile-border">
          Get set up quickly and easily
        </h2>
        <p class="govuk-body">
          Try out GOV.UK Sign In in our test environment with no obligations. Integrate at your own page by following our <a class="govuk-link" href="https://docs.sign-in.service.gov.uk" target="_blank">technical documentation (opens in new tab)</a>.
        </p>
        <div class="govuk-!-padding-right-3 govuk-!-margin-bottom-5 govuk-!-padding-top-2 get-sign-up-quickly-img1"><img src="/dist/images/Technical-documentation.svg" alt="" style="width: 100%; height: auto;"></div>
      </div>
      </div>
      <div class=" govuk-grid-column-one-half feature-column">
      <div class="govuk-panel feature-panel govuk-!-padding-left-3">
        <div class="govuk-body govuk-!-padding-top-8 govuk-!-padding-bottom-5 incorporate-mobile-view">
          Incorporate our extensively researched, accessible <a class="govuk-link" href="/documentation/user-journeys">user journeys</a> into your existing service journey.
        </div>
        <div class="govuk-!-margin-bottom-5 govuk-!-padding-top-2"><img src="/dist/images/User-journeys.svg" alt="" style="width: 100%; height: auto;"></div>
      </div>
      </div>
    </div>

    <div class="govuk-grid-row govuk-!-margin-bottom-7 govuk-!-padding-left-2 govuk-grid-row-home-last">
      <h2 class="govuk-heading-m heading-m-mobile-border">
        Try GOV.UK Sign In
      </h2>
      <p class="govuk-body">
        You can try out GOV.UK Sign In if you’re a central government service and  need to sign in your users.
      </p>
      <p class="govuk-body">
        If it works for your service, you can also join our beta and offer it to your users.
      </p>

      {{ govukButton({
        text: "Get started",
        href: "/getting-started",
        isStartButton: true
      }) }}

      <h2 class="govuk-heading-m govuk-!-margin-top-4">
        Join our mailing list
      </h2>
      <p class="govuk-body">
        If you have a public sector email address, <a class="govuk-link" href="/mailing-list">join our mailing list</a> to stay up to date with our progress.
      </p>
      <p class="govuk-body">
        You’ll get updates on our work and invitations to our regular cross-government show and tells.
      </p>

      <h2 class="govuk-heading-m govuk-!-margin-top-6">
        Get in touch
      </h2>

      <p class="govuk-body">
        Use our <a class="govuk-link" href="/support">support form</a> if you have any questions. We’d also love to hear your feedback or suggestions for improvements.
      </p>

    </div>

  </div>


{% endblock %}
