{% extends "base.njk" %}
{% from "macros/breadcrumbs.njk" import breadcrumbs %}
{% from "govuk/components/button/macro.njk" import govukButton %}

{% set bodyClasses = "product-home-page-wrapper" %}
{% set mainClasses = "product-home-page" %}

{% block pageTitle %}GOV.UK One Login{% endblock %}

{% block main %}
  {{ breadcrumbs | safe }}
  <main class="{{ mainClasses }}" id="main-content" role="main"{% if mainLang %} lang="{{ mainLang }}"{% endif %}>
    {{ content | safe }}
  </main>
{% endblock %}

{% set breadcrumbs %}
  <div class="hero-breadcrumb-banner">
    <div class="hero hero--breaded">
      {{  breadcrumbs(classes = "breadcrumbs-hero") }}
    </div>
  </div>
{% endset %}

{% set content %}
  <div class="masthead">
    <div class="hero">
      <div class="hero__content">
      <div class="hero__body" id="index-hero-body">
        <h1 class="hero__title">Let users sign in and prove their identities to use your service</h1>
        <p class="hero__description">
          Try GOV.UK One Login if you work on a central government service.
        </p>
        <a href="/getting-started" role="button" draggable="false" class="govuk-button govuk-button--start app-button--inverted">
          Get started
          <svg aria-hidden="true" class="govuk-button__start-icon" xmlns="http://www.w3.org/2000/svg" width="17.5" height="19" viewBox="0 0 33 40" focusable="false">
          <path fill="currentColor" d="M0 0h13l20 20-20 20H0l20-20z" />
          </svg>
        </a>
      </div>
      <div class="hero__aside-image">
        <img src="/assets/images/product-illustration_govuk_signin.png" alt="" role="presentation" id="heroMainImage">
      </div>
      </div>
    </div>
  </div>

  <div class="govuk-width-container">

    <div class="govuk-grid-row content-section govuk-!-margin-bottom-7 feature-row">
      <div class="govuk-grid-column-one-half feature-column">
      <div class="govuk-panel feature-panel">
        <h2 class="govuk-heading-m">
          Let users sign in
        </h2>
        <p class="govuk-body">
          Let your users sign in to your service with their email address, password and two-factor authentication.
        </p>
        <p class="govuk-body">
          They can use these details to access all services that use GOV.UK One Login. They can also see the services they've used in one place.
        </p>
        <p class="govuk-body">
          <a class="govuk-link" href="/about/signing-users-in">Read more about sign in and authentication</a>
        </p>
        <p class="govuk-body">
          <a class="govuk-link" href="/documentation/user-journeys">Explore sign in and authentication journey maps</a>
        </p>
      </div>
      </div>
      <div class="govuk-grid-column-one-half feature-column home-feature-column-padding-left-10">
      <div class="govuk-panel feature-panel">
        <div class="govuk-!-margin-bottom-5"><img src="/assets/images/Sign-in.svg" class="images__width_100" alt=""></div>
      </div>
      </div>
    </div>

    <div class="govuk-grid-row govuk-!-margin-bottom-7 feature-row">
      <div class=" govuk-grid-column-one-half feature-column home-feature-column-padding-right-10">
      <div class="govuk-panel feature-panel">
        <h2 class="govuk-heading-m heading-m-mobile-border">
          Check the identity of your users
        </h2>
        <p class="govuk-body">
          Get your users’ identity checks done centrally by using GOV.UK One Login.
        </p>
        <p class="govuk-body">
          You’ll get confirmation that the person is who they say they are without having to do any checks yourself.
        </p>
        <p class="govuk-body">
          Users will be able to reuse these checks to access other government services.
        </p>
        <p class="govuk-body">
          <a class="govuk-link" href="/about/checking-users-identities">Read more about identity checking</a>
        </p>
        <p class="govuk-body">
          <a class="govuk-link" href="/documentation/identity-journeys">Explore identity checking journey maps</a>
        </p>
      </div>
      </div>
      <div class=" govuk-grid-column-one-half feature-column home-feature-column-padding-left-10">
      <div class="govuk-panel feature-panel">
        <div class="govuk-!-margin-bottom-5"><img src="/assets/images/Identity.svg" class="images__width_100" alt=""></div>
      </div>
      </div>
    </div>

    <div class="govuk-grid-row govuk-!-margin-bottom-7 feature-row">
      <div class=" govuk-grid-column-one-half feature-column mobile-view-padding-bottom-2">
      <div class="govuk-panel feature-panel">
        <h2 class="govuk-heading-m heading-m-mobile-border">
          Get set up quickly and easily
        </h2>
        <p class="govuk-body">
          See how GOV.UK One Login works with your service in our integration environment. Integrate at your own pace by following our <a class="govuk-link" href="https://docs.sign-in.service.gov.uk" target="_blank">technical documentation (opens in new tab)</a>.
        </p>
        <div class="govuk-!-padding-right-3 govuk-!-margin-bottom-5 govuk-!-padding-top-2 get-sign-up-quickly-img1"><img src="/assets/images/Technical-documentation.svg" class="images__width_100" alt=""></div>
      </div>
      </div>
      <div class=" govuk-grid-column-one-half feature-column">
      <div class="govuk-panel feature-panel govuk-!-padding-left-3">
        <div class="govuk-body govuk-!-padding-top-8 govuk-!-padding-bottom-5 incorporate-mobile-view">
          Incorporate our researched, accessible <a class="govuk-link" href="/documentation/user-journeys">user journeys</a> into your existing service journey.
        </div>
        <div class="govuk-!-margin-bottom-5 govuk-!-padding-top-2"><img src="/assets/images/User-journeys.svg" class="images__width_100" alt=""></div>
      </div>
      </div>
    </div>

    <div class="govuk-grid-row govuk-!-margin-bottom-7 govuk-!-padding-left-2 govuk-grid-row-home-last">
      <h2 class="govuk-heading-m heading-m-mobile-border">
        Try GOV.UK One Login
      </h2>
      <p class="govuk-body">You can try out GOV.UK One Login if you’re a central government service and need to sign in your users or check their identities.</p>

      {{ govukButton({
        text: "Get started",
        href: "/getting-started",
        isStartButton: true
      }) }}

      <h2 class="govuk-heading-m govuk-!-margin-top-4">
        Join our mailing list
      </h2>
      <p class="govuk-body">
        If you have a government or public sector email address, <a class="govuk-link" href="/mailing-list">join our mailing list</a> to stay up to date with our progress.
      </p>
      <p class="govuk-body">
        You’ll get updates on our work and invitations to our regular cross-government show and tells. You’ll also get invited to take part in user research.
      </p>
    </div>
  </div>
{% endset %}

{% block scripts %}
  <script type="module" src="/assets/javascripts/easter-egg.js"></script>
  {{ga4OnPageLoad({
    statusCode:"200",
    englishPageTitle: "GOV.UK One Login",
    taxonomyLevel1: taxonomyLevel1,
    taxonomyLevel2: "home",
    contentId:"ee306476-7392-4f6c-97bb-2a743906eb33",
    loggedInStatus:false,
    dynamic:false
  })}}
{% endblock %}
