{% extends "base.njk" %}

{% block pageTitle %}GOV.UK Sign In Home – GOV.UK Product Pages{% endblock %}

{% set mainClasses = "govuk-main-wrapper--auto-spacing" %}

{% block beforeContent %}
  <div class="hero-breadcrumb-banner">
    <div class="hero hero--breaded">
      <div class="govuk-breadcrumbs breadcrumbs-hero">
        <ol class="govuk-breadcrumbs__list ">
          <li class="govuk-breadcrumbs__list-item">
            <a class="govuk-breadcrumbs__link" href="https://www.gov.uk/service-toolkit#gov-uk-services">GOV.UK services</a>
          </li>
          <li class="govuk-breadcrumbs__list-item">
            <a class="govuk-breadcrumbs__link" href="#main-content" aria-current="page">GOV.UK&nbsp;Sign In</a>
          </li>
        </ol>
      </div>
    </div>
  </div>
{% endblock %}

{% block content %}
  <div class="masthead" style="background-color: green;">
    <div class="hero">
      <div class="hero__content">
      <div class="hero__body" id="index-hero-body">
        <h1 class="hero__title">Help your users sign in quickly, easily and securely</h1>

        <p class="hero__description">
          GOV.UK Sign In is the new way for government services to sign in their users
        </p>

        <p class="hero__paragraph">
          If you work in central government, sign up to join our private beta
        </p>
        <a href="/register" role="button" draggable="false" class="govuk-button govuk-button--start app-button--inverted">
          Register your interest
          <svg aria-hidden="true" class="govuk-button__start-icon" xmlns="http://www.w3.org/2000/svg" width="17.5" height="19" viewBox="0 0 33 40" focusable="false">
          <path fill="currentColor" d="M0 0h13l20 20-20 20H0l20-20z" />
          </svg>
        </a>
        <span class="hero-alternative-action">
    or &nbsp;<a class="govuk-link" href="/find-out-more" data-click-events data-click-category="Hero" data-click-action="Internal link clicked">find out more</a>
    </span>
      </div>
      <div class="hero__aside-image">
        <img src="/dist/images/product-illustration_govuk_signin.png" alt="" role="presentation">
      </div>
      </div>
    </div>
  </div>

  <div class="govuk-width-container">

    <div class="govuk-grid-row content-section govuk-!-margin-bottom-7 feature-row">
      <div class="govuk-grid-column-one-half feature-column">
      <div class="govuk-panel feature-panel">
        <h2 class="govuk-heading-l">
          Easy for users
        </h2>
        <div class="govuk-body">
          GOV.UK Sign In will give your users access to everything they need to do with government in one place.
        </div>
      </div>
      </div>
      <div class="govuk-grid-column-one-half  feature-column">
      <div class="govuk-panel feature-panel">
        <h2 class="govuk-heading-l">
          Free to use
        </h2>
        <div class="govuk-body">
          GOV.UK Sign In is free to use for central government during private beta.
        </div>
      </div>
      </div>
    </div>

    <div class="govuk-grid-row govuk-!-margin-bottom-7 feature-row">
      <div class=" govuk-grid-column-one-half feature-column">
      <div class="govuk-panel feature-panel">
        <h2 class="govuk-heading-l">
          Protection assured
        </h2>
        <div class="govuk-body">
          GOV.UK Sign In will give you the level of protection you need for your users.
        </div>
      </div>
      </div>
      <div class=" govuk-grid-column-one-half feature-column">
      <div class="govuk-panel feature-panel">
        <h2 class="govuk-heading-l">
          Simple to join
        </h2>
        <div class="govuk-body">
          Your technical team can connect to GOV.UK Sign In within hours.
        </div>
      </div>
      </div>
    </div>

    <div class="govuk-grid-row govuk-!-margin-bottom-7 feature-row">
      <div class=" govuk-grid-column-one-half feature-column">
      <div class="govuk-panel feature-panel">
        <h2 class="govuk-heading-l">
          Connecting government services
        </h2>
        <div class="govuk-body">
          GOV.UK Sign In will allow users to access any government service using the same username and password.
        </div>
      </div>
      </div>
      <div class=" govuk-grid-column-one-half feature-column">
      <div class="govuk-panel feature-panel">
        <h2 class="govuk-heading-l">
          Identity checking
        </h2>
        <div class="govuk-body">
          In the future you’ll be able to
          <a class="govuk-link" href="/identity-checks">prove your users are who they say they are</a>,
          all with just a few extra lines of code.
        </div>
      </div>
      </div>
    </div>

    <hr class="govuk-section-break govuk-section-break--l govuk-section-break--visible" />

    <div class="govuk-grid-row govuk-!-margin-bottom-7">
      <div class=" govuk-grid-column-one-half feature-column">
      <section class="content-section">
        <h2 class="govuk-heading-m content-section__first-heading">GOV.UK Sign In:</h2>
        <p class="govuk-body">
        <ul class="govuk-list govuk-list--bullet">
          <li>
          is quick and easy to implement
          </li>
          <li>
          is fully supported by the GDS technical team
          </li>
          <li>
          uses accessible GOV.UK design patterns
          </li>
        </ul>
        </p>
      </section>
      </div>

      <div class=" govuk-grid-column-one-half feature-column">
      <section class="content-section">
        <h2 class="govuk-heading-m content-section__first-heading">What next</h2>
        <p class="govuk-body">
          <a class="govuk-link" href="/register">Register your interest in using GOV.UK Sign In.</a>
        </p>
        <p class="govuk-body">
          Contact us at <a class="govuk-link" href="mailto:govuk-sign-in@digital.cabinet-office.gov.uk">govuk-sign-in@digital.cabinet-office.gov.uk</a>
          with any questions.
        </p>
      </section>
      </div>
    </div>
  </div>


{% endblock %}
