{% extends "base.njk" %}
{% from "./macros/error-summary.njk" import errorSummary %}
{% from "govuk/components/input/macro.njk" import govukInput %}
{% from "govuk/components/button/macro.njk" import govukButton %}

{% set pageTitle = "Join our mailing list" %}
{% set baseClasses = "govuk-!-padding-top-5 govuk-!-margin-bottom-0" %}

{% block beforeContent %}
  <div class="govuk-width-container">
    <div class="govuk-breadcrumbs">
      <ol class="govuk-breadcrumbs__list">
        <li class="govuk-breadcrumbs__list-item">
          <a class="govuk-breadcrumbs__link" href="https://www.gov.uk/service-toolkit#gov-uk-services">GOV.UK services</a>
        </li>
        <li class="govuk-breadcrumbs__list-item">
          <a class="govuk-breadcrumbs__link" href="/">GOV.UK Sign In</a>
        </li>
        <li class="govuk-breadcrumbs__list-item">
          <a class="govuk-breadcrumbs__link" href="#main-content" aria-current="page">Join our mailing list</a>
        </li>
      </ol>
    </div>
  </div>
{% endblock %}

{% block mainContent %}
  {{ errorSummary ({
    errors: errors,
    hrefs: {
      'personalName': '#personalName',
      'organisationName': '#organisationName',
      'contactEmail': '#contactEmail',
      'serviceName': '#serviceName'
    }
  }) }}
  <h1 class="govuk-heading-l">Join our mailing list</h1>
  <p class="govuk-body">Complete this form to stay up to date with our progress on GOV.UK Sign In.</p>
  <p class="govuk-body">Once you’ve submitted the form, we’ll add you to our mailing list. You’ll get emails with updates about our work. We’ll also invite you to our cross-government show and tells.</p>
  <form class="form" action="/mailing-list" method="post">

    {{ govukInput({
      label: {
        text: "Name"
      },
      name: "personalName",
      id: "personalName",
      classes: "govuk-input--width-20",
      value: values.personalNameHolder,
      errorMessage: {
        text: errors.get('personalName')
      } if errors and errors.has('personalName')
    }) }}

    {{ govukInput({
      label: {
        text: "Organisation name"
      },
      name: "organisationName",
      id: "organisationName",
      classes: "govuk-input--width-20",
      value: values.organisationNameHolder,
      errorMessage: {
        text: errors.get('organisationName')
      } if errors and errors.has('organisationName')
    }) }}

    {{ govukInput({
      label: {
        text: "Contact email "
      },
      name: "contactEmail",
      id: "contactEmail",
      classes: "govuk-input--width-20",
      value: values.contactEmailHolder,
      hint: {
        text: "You must enter a government email address"
      },
      errorMessage: {
        text: errors.get('contactEmail')
      } if errors and errors.has('contactEmail')
    }) }}

    {{ govukInput({
      label: {
        text: "Service name"
      },
      name: "serviceName",
      id: "serviceName",
      classes: "govuk-input--width-30",
      value: values.serviceNamehHolder,
      errorMessage: {
        text: errors.get('serviceName')
      } if errors and errors.has('serviceName')
    }) }}

    <button class="govuk-button" data-module="govuk-button" id="submit" name="submit">
      Submit
    </button>

  </form>
{% endblock %}
