{% extends "base.njk" %}
{% from "macros/breadcrumbs.njk" import breadcrumbs %}
{% from "govuk/components/panel/macro.njk" import govukPanel %}

{% set pageTitle = "Mailing list confirmation" %}
{% set breadcrumbs = breadcrumbs(currentPageName = "Join our mailing list") %}

{% block mainContent %}
  {{ govukPanel({ titleText: "You have signed up to the GOV.UK Sign In mailing list" }) }}

  <p class="govuk-body govuk-!-margin-top-6">
    Thank you for signing up to receive email updates about GOV.UK Sign In.
  </p>

  <p class="govuk-body">
    You’ll now get emails about our work. You can unsubscribe at any time.
  </p>

  <p class="govuk-body">
    <a class="govuk-link" href="/">Back to homepage</a>.
  </p>
{% endblock %}
