{% extends "base-form.njk" %}
{% from "macros/breadcrumbs.njk" import breadcrumbs %}

{% set pageTitle = "Sign up to get access" %}
{% set breadcrumbs = breadcrumbs([{text: "Get started", href: "/getting-started"}], pageTitle) %}

{% block beforeForm %}
  <h1 class="govuk-heading-l">Sign up to get access</h1>
  <p class="govuk-body">Complete this form if you’re from a central government service team and want to try out GOV.UK Sign In.</p>
  <p class="govuk-body">Once you’ve submitted it, we’ll get in touch to learn more about your service and give you access to our test environment (or ‘sandbox’).</p>
{% endblock %}

{% block formInputs %}
  {{ form.textInput("Name", "name", "govuk-!-width-two-thirds") }}
  {{ form.textInput("Organisation name", "organisation-name", "govuk-!-width-two-thirds") }}
  {{ form.emailInput("Contact email") }}
  {{ form.textInput("Service name", "service-name", "govuk-!-width-full") }}
  {{ form.radiosInput("Would you like to join our mailing list?", name = "mailing-list",
    hint = "You’ll get occasional email updates about our work and invitations to our cross-government show and tells.",
    items = [
      {text: "Yes", value: "yes"},
      {text: "No", value: "no"}
    ]) }}
{% endblock %}
