{% extends "base-form.njk" %}
{% from "macros/breadcrumbs.njk" import breadcrumbs %}
{% from "dist/govuk/components/button/macro.njk" import govukButton %}

{% set pageTitle = "Register to get started with GOV.UK One Login" %}
{% set headerNavigationActiveItem = "get-started" %}
{% set breadcrumbs = breadcrumbs([{text: "Get started", href: "/register"}]) %}

{% block beforeForm %}
  <h1 class="govuk-heading-l">Register to get started with GOV.UK One Login</h1>
  <p class="govuk-body">Complete this form if you work on an online government service and you’d like to use GOV.UK One Login in your service.</p>
  <p class="govuk-body">This form is not for the general public. Instead see <a class="govuk-link" href="https://www.gov.uk/using-your-gov-uk-one-login">Using your GOV.UK One Login</a>.</p>

<h2 class="govuk-heading-m">About you</h2>
{% endblock %}

{% block formInputs %}
  {{ form.textInput("First name", "firstName", "govuk-!-width-two-thirds") }}
  {{ form.textInput("Last name", "lastName", "govuk-!-width-two-thirds") }}
  {{ form.emailInput(hint = "You must enter your government email address - we will only contact people with official government email addresses", classes = "govuk-!-width-full") }}
  {{ form.textInput("Role", "role", "govuk-!-width-full", hint = "Tell us your role within the service team, for example delivery or project manager, technical architect or test engineer") }}
  {{ form.textInput("Organisation name", "organisationName", "govuk-!-width-full", hint = "Enter the name of your government department, agency or other public body and also the name of your sponsor department") }}
  {{ form.radiosInput("Organisation type", name = "organisationType",
    items = [
      {text: "Government department or Ministry", value: "governmentDepartmentOrMinistry"},
      {text: "Executive Agency", value: "executiveAgency"},
      {text: "Arms length body", value: "armsLengthBody"},
      {text: "Other", value: "other"}
    ]) }}
  <h2 class="govuk-heading-m">About your service</h2>
  {{ form.textInput("Service name", "serviceName", "govuk-!-width-full", hint = "Enter the name of your service as used on your service start page. If you are working on a new service that has not launched yet, enter its working title") }}
  {{ form.textAreaInput("Service description", "serviceDescription", "Describe your service, what it does, who it helps and why? Also tell us if it’s a new service that has not launched yet") }}
  {{ form.textInput("Link to your service (optional)", "linkToYourService", "govuk-!-width-full", hint = "If you have one, enter the URL to your service start page or a link to a prototype or user journey map - including any passwords") }}
  {{ form.textInput("Approximate number of users each year", "expectedNumberOfUsersPerAnnum", "govuk-!-width-one-third")  }}
  {{ form.textInput("Estimated date for your service to go live with GOV.UK One Login", "estimatedServiceGoLiveDate", "govuk-!-width-one-third", hint = "Give us your proposed month and year - for example June 2025") }}
  {{ form.radiosInput("What would you like to access and test?", name = "accessAndTest",
    items = [
      {
        text: "Authentication only",
        value: "authenticationOnly",
        hint: {
        text: "Signing users in"
      }
      },
      {
        text: "Authentication and identity checking",
        value: "authenticationAndIdentity",
        hint: {
        text: "Signing users in and checking their identities"
      }
      }
    ]) }}
  {{ form.textAreaInput("Additional context or specific questions", "additionalHelpOrQuestions") }}
  {{ form.radiosInput("Do you have any other services you’d like to talk to us about?", name = "anyOtherServicesToTalkAbout", hint = "We’ll ask you more about any additional services when we contact you",
    items = [
      {text: "Yes", value: "yes"},
      {text: "No", value: "no"}
    ]) }}
  {{ form.radiosInput("Do you have existing users that you need to migrate to GOV.UK One Login to sign in or prove their identity?", name = "migrateExistingUsers",

    items = [
      {text: "Yes", value: "yes"},
      {text: "No", value: "no"}
    ]) }}
  <h2 class="govuk-heading-m">Updates</h2>
  {{ form.radiosInput("Would you like to get updates about GOV.UK One Login?", name = "getUpdatesAboutOneLogin", hint = "You’ll get occasional email updates about our work and invitations to our cross-government show and tells. You may also be invited to participate in future user research if you’d like to",
    items = [
      {text: "Yes", value: "YES"},
      {text: "No", value: "NO"}
    ]) }}
  <h2 class="govuk-heading-m">Read our privacy notice</h2>
  <p class="govuk-body">By continuing, you confirm that you agree to our <a class="govuk-link" href="https://www.gov.uk/government/publications/govuk-one-login-privacy-notice">privacy notice</a>. It sets out how we use your personal information.</p>
{% endblock %}
