{% extends "base.njk" %}
{% from "macros/breadcrumbs.njk" import breadcrumbs %}

{% set pageTitle = "There is a problem registering your interest" %}
{% set breadcrumbs = breadcrumbs([{text: "Register your Interest", href: "/register"}], "Error") %}

{% block content %}
  <div class="govuk-grid-row">
    <div class="govuk-grid-column-full">
      <h1 class="govuk-heading-l">Sorry, there is a problem with registering your interest</h1>

      <p class="govuk-body">Try again later.</p>
      <p class="govuk-body">You will need to fill the form in again.</p>

      <p class="govuk-body">Contact us at <a class="govuk-link" href="mailto:govuk-sign-in@digital.cabinet-office.gov.uk">govuk-sign-in@digital.cabinet-office.gov.uk</a> if this happens again.</p>
    </div>
  </div>
{% endblock %}
{% block scripts %}
  {{ga4OnPageLoad({
    statusCode:"200",
    englishPageTitle: pageTitle,
    taxonomyLevel1: taxonomyLevel1,
    taxonomyLevel2: taxonomyLevel2Register,
    contentId:"2a7ae899-845f-4e4c-8c11-2a7771af9dbf",
    loggedInStatus:false,
    dynamic:false
  })}}
{% endblock %}
