{% extends "base.njk" %}

{% set homePath = "decide" %}
{% set pageTitle = "There is a problem requesting to join public beta" %}

{% block mainContent %}
  <h1 class="govuk-heading-l">Sorry, there is a problem with the service</h1>

  <p class="govuk-body">Try again later.</p>
  <p class="govuk-body">You’ll need to complete the form again.</p>
  <p class="govuk-body">Contact us using our <a class="govuk-link" href="/contact-us">support form</a> if it does not work again.</p>
{% endblock %}
