{% extends "base-form.njk" %}
{% from "govuk/components/back-link/macro.njk" import govukBackLink %}

{% set showTopNav = false %}
{% set homePath = "decide" %}
{% set pageTitle = "Request to join private beta" %}
{% set backLink = govukBackLink({ text: "Back", href: "/decide/private-beta" }) %}

{% block beforeForm %}
  <h1 class="govuk-heading-l govuk-!-margin-bottom-7">Request to join private beta</h1>
{% endblock %}

{% block formInputs %}
  {{ form.textInput("Name", "name") }}
  {{ form.emailInput(hint = "Must be a government email address") }}
  {{ form.textInput("Department", "department-name") }}
  {{ form.textInput("Service name", "service-name") }}
{% endblock %}
