{% extends "base.njk" %}

{% block pageTitle %}There is a problem requesting to join private beta - GOV.UK Sign In{% endblock %}

{% set homePath = "decide" %}

{% block content %}
  <div class="govuk-grid-row">
    <div class="govuk-grid-column-two-thirds">
      <h1 class="govuk-heading-l">Sorry, there is a problem with the service</h1>

      <p class="govuk-body">Try again later.</p>
      <p class="govuk-body">You'll need to complete the form again.</p>
      <p class="govuk-body">Contact us using our <a class="govuk-link" href="/contact-us">support form</a> if it does not work again.</p>
    </div>
  </div>
{% endblock %}
