{% extends "base-side-nav.njk" %}
{% from "macros/breadcrumbs.njk" import breadcrumbs %}

{% set pageTitle = "Roadmap" %}
{% set headerNavigationActiveItem = "features" %}
{% set sideNav = {name: "features", active: "roadmap"} %}
{% set breadcrumbs = breadcrumbs([{text: "Features", href: "/features"}], pageTitle) %}

{% block mainContent %}
  <h1 class="govuk-heading-l">Roadmap</h1>
  <p class="govuk-body">Last updated: January 2023</p>

  <h2 class="govuk-heading-m">Recently released</h2>

  <h3 class="govuk-heading-s">Welsh
    <strong class="govuk-tag govuk-tag--purple">
      Sign in
    </strong>
    <strong class="govuk-tag govuk-tag--yellow">
      Identity
    </strong>
  </h3>
    <p class="govuk-body">At the start of their journey, users can select to view it in English or Welsh.</p>

  <h3 class="govuk-heading-s">Authenticator apps
    <strong class="govuk-tag govuk-tag--purple">
      Sign in
    </strong>
  </h3>
    <p class="govuk-body">Users can use authenticator apps for two-factor authentication, as an alternative to text messages.</p>

  <h3 class="govuk-heading-s">Browser-based identity checks for UK passports
    <strong class="govuk-tag govuk-tag--yellow">
      Identity
    </strong>
  </h3>
    <p class="govuk-body">Users with UK passports can enter their passport details as part of proving their identity.</p>

  <h3 class="govuk-heading-s">App-based identity checks for UK driving licences
    <strong class="govuk-tag govuk-tag--yellow">
      Identity
    </strong>
  </h3>
    <p class="govuk-body">In the ‘GOV.UK ID Check’ app, users can use full and provisional photocard driving licences to prove their identity. Available on iOS and Android.</p>

  <h3 class="govuk-heading-s">Services are shown in the GOV.UK account
    <strong class="govuk-tag govuk-tag--blue">
      Account
    </strong>
  </h3>
    <p class="govuk-body">Users can see and access all the services they’ve used with their GOV.UK account.</p>

  <hr class="govuk-section-break govuk-section-break--l govuk-section-break--visible">

  <h2 class="govuk-heading-m">What we're working on now</h2>

  <h3 class="govuk-heading-s">Non-UK mobile numbers
    <strong class="govuk-tag govuk-tag--purple">
      Sign in
    </strong>
  </h3>
    <p class="govuk-body">Users will be able to create accounts using international phone numbers.</p>

  <h3 class="govuk-heading-s">Two-factor authentication recovery
    <strong class="govuk-tag govuk-tag--purple">
      Sign in
    </strong>
  </h3>
  <p class="govuk-body">If users lose access to their two-factor authentication method, we’ll help them get back into their account.</p>

  <h3 class="govuk-heading-s">Identity checks will be saved for reuse
    <strong class="govuk-tag govuk-tag--blue">
      Account
    </strong>
  </h3>
    <p class="govuk-body">Users' identity checks will automatically be saved to their account so they can reuse them with other services.</p>

  <h3 class="govuk-heading-s">Browser-based UK driving licence checks
    <strong class="govuk-tag govuk-tag--yellow">
      Identity
    </strong>
  </h3>
    <p class="govuk-body">Users will be able to enter details from their valid UK driving licence as part of proving their identity. This includes full and provisional photocard licences.</p>

  <h3 class="govuk-heading-s">App-based identity checks for NFC-chipped passports
    <strong class="govuk-tag govuk-tag--yellow">
      Identity
    </strong>
  </h3>
    <p class="govuk-body">In the ‘GOV.UK ID Check’ app, users will be able to provide their passport details by scanning its chip using NFC. This includes UK and non-UK passports.</p>

  <h3 class="govuk-heading-s">App-based identity checks for biometric residence permits
    <strong class="govuk-tag govuk-tag--yellow">
      Identity
    </strong>
  </h3>
    <p class="govuk-body">In the ‘GOV.UK ID Check’ app, users will be able to provide their biometric residence permit details as part of proving their identity. They can scan its chip using NFC.</p>

  <h3 class="govuk-heading-s">An admin tool for self-service testing
    <strong class="govuk-tag govuk-tag--turquoise">
      Service team onboarding
    </strong>
  </h3>
    <p class="govuk-body">Service teams will be able to test GOV.UK One Login in our integration environment using our admin tool.</p>

  <hr class="govuk-section-break govuk-section-break--l govuk-section-break--visible">

  <h2 class="govuk-heading-m">Identity checks will be available for more services soon
    <strong class="govuk-tag govuk-tag--yellow">
      Identity
    </strong>
  </h2>

  <p class="govuk-body">We’ve added identity checks to GOV.UK One Login for our existing identity private beta partners. The checks will be available for more services in 2023.</p>
  <p class="govuk-body">Identity checks are for services that need to be sure their users are who they say they are. You’re likely to need them if your service does things like paying out money or showing confidential information.</p>
  <p class="govuk-body">You cannot have identity checks without the ‘sign in’ functionality.</p>
  <p class="govuk-body">If you’re a central government service and you need identity checks, <a class="govuk-link" href="/register">sign up for access</a>.</p>
  <p class="govuk-body">After you sign up:</p>
  <ul class="govuk-list govuk-list--bullet">
    <li>you’ll be able to test out the ‘sign in’ part of the journey with your service</li>
    <li>we’ll contact you about getting access to the identity checks when they're available</li>
  </ul>
  <hr class="govuk-section-break govuk-section-break--l govuk-section-break--visible">
  <h2 class="govuk-heading-m">Updates</h2>
  <p class="govuk-body">As we’re still at an early stage, our plans may shift. We’ll update this page when this happens and add more detail when we can.</p>
  <p class="govuk-body">We’ll keep sharing in blog posts and at our regular cross-government show and tells too.</p>
  <p class="govuk-body"><a class="govuk-link" href="/mailing-list">Join our mailing list</a> to stay up to date.</p>
{% endblock %}
