{% extends "base-side-nav.njk" %}
{% from "macros/breadcrumbs.njk" import breadcrumbs %}

{% set pageTitle = "Roadmap" %}
{% set headerNavigationActiveItem = "about" %}
{% set sideNav = {name: "about", active: "roadmap"} %}
{% set breadcrumbs = breadcrumbs([{text: "About GOV.UK One Login", href: "/about"}]) %}

{% block mainContent %}
  <h1 class="govuk-heading-l">Roadmap</h1>
  <p class="govuk-body">Last updated: Dec 2025</p>

  <h2 class="govuk-heading-m">What we're working on now</h2>

  <h3 class="govuk-heading-s">Using DWP information to prove identity
    <strong class="govuk-tag govuk-tag--yellow">
      IDENTITY
    </strong>
  </h3>
  <p class="govuk-body">Users will be able to prove their identity by answering security questions using information held by the Department for Work and Pensions (DWP). This is called 'knowledge-based verification'.
</p>

  <h3 class="govuk-heading-s">Users can prove their identity with open banking
    <strong class="govuk-tag govuk-tag--yellow">
      IDENTITY
    </strong>
  </h3>
  <p class="govuk-body">Users will be able to prove their identity by signing in to their online banking and sharing information from their account.</p>

  <h3 class="govuk-heading-s">TBC 
    <strong class="govuk-tag govuk-tag--purple">
      SIGN IN
    </strong>
  </h3>
  <p class="govuk-body"></p>

  <h3 class="govuk-heading-s">Passkeys 
    <strong class="govuk-tag govuk-tag--purple">
      SIGN IN
    </strong>
  </h3>
  <p class="govuk-body">Instead of entering a password, users will be able to use their biometric fingerprint or face scan to sign in to their GOV.UK One Login.</p>

  <h3 class="govuk-heading-s">Digital driving licence
    <strong class="govuk-tag govuk-tag--orange">
      GOV.UK ONE LOGIN APP
    </strong>
  </h3>
  <p class="govuk-body">Allows users with a driving licence to save a digital version to the GOV.UK One Login app. </p>

  <h3 class="govuk-heading-s">Self-serve GOV.UK One Login deletion
    <strong class="govuk-tag govuk-tag--turquoise">
      SIGNED IN EXPERIENCE
    </strong>
  </h3>
  <p class="govuk-body">Users will be able to delete and recreate their GOV.UK One Login if they lose access to their multi-factor authentication (MFA) methods.</p>

  <hr class="govuk-section-break govuk-section-break--l govuk-section-break--visible">

  <h2 class="govuk-heading-m">Recently released</h2>

  <h3 class="govuk-heading-s">GOV.UK One Login app 
    <strong class="govuk-tag govuk-tag--orange">
      GOV.UK ONE LOGIN APP
    </strong>
  </h3>
  <p class="govuk-body">The GOV.UK One Login app has replaced the GOV.UK ID check app for most users, making it easier for them to prove their identity.</p>

  <h3 class="govuk-heading-s">Digital Veteran Card
    <strong class="govuk-tag govuk-tag--orange">
      GOV.UK ONE LOGIN APP
    </strong>
  </h3>
  <p class="govuk-body">Allows users with a HM Armed Forces Veteran Card to save a digital version to the GOV.UK One Login app.</p>

<h3 class="govuk-heading-s">Back up two-factor authentication method
    <strong class="govuk-tag govuk-tag--purple">
      SIGN IN
    </strong>
  </h3>
  <p class="govuk-body">Users can sign in with a back up two-factor authentication method, for example an authenticator app, if they lose access to their primary method.
</p>

<h3 class="govuk-heading-s">Flexible two-factor authentication management
    <strong class="govuk-tag govuk-tag--turquoise">
      SIGNED IN EXPERIENCE
    </strong>
  </h3>
  <p class="govuk-body">Users can add, remove and swap two-factor authentication methods.
</p>

<h3 class="govuk-heading-s">TBC
    <strong class="govuk-tag govuk-tag--purple">
      SIGN IN
    </strong>
  </h3>
  <p class="govuk-body"></p>

<h3 class="govuk-heading-s">Improved one-time password (OTP) autofill on iOS
    <strong class="govuk-tag govuk-tag--purple">
      SIGN IN
    </strong>
  </h3>
  <p class="govuk-body">OTP codes sent by text message are automatically populated for users as part of the authentication process.
</p>



  <h2 class="govuk-heading-m">Updates</h2>
  <p class="govuk-body">As we’re still at an early stage, our plans may shift. We’ll update this page when this happens and add more detail when we can.</p>
  <p class="govuk-body">We’ll keep sharing in <a  class="govuk-link" href="https://gds.blog.gov.uk/category/govuk-onelogin/">blog posts</a> and at our regular cross-government show and tells too.</p>
  <p class="govuk-body"><a class="govuk-link" href="/mailing-list">Join our mailing list</a> to stay up to date.</p>
{% endblock %}
