{% extends "base-form.njk" %}
{% from "macros/breadcrumbs.njk" import breadcrumbs %}

{% set pageTitle = "Support" %}
{% set headerNavigationActiveItem = "support" %}
{% set breadcrumbs = breadcrumbs(currentPageName = pageTitle) %}
{% set formAction = "/support" %}
{% set buttonText = "Continue" %}

{% block beforeForm %}
  <h1 class="govuk-heading-l">Support</h1>
{% endblock %}

{% block formInputs %}
  {{ form.radiosInput("What do you need help with?", name = "support",
    items = [
      {
        text: "I work in a government service team and we want to start using GOV.UK One Login",
        value: "gov-service-start-using-sign-in"
      },
      {
        text: "I work in a government service team that is setting up or already using GOV.UK One Login",
        value: "gov-service-uses-sign-in"
      },
      {
        text: "I’m a member of the public",
        value: "gov-service-is-public"
      }
    ]) }}
{% endblock %}

{% block afterForm %}
  <h2 class="govuk-heading-m">Office hours</h2>
  <p class="govuk-body">We can only respond to your support queries during office hours. Our office hours are 9:30am to 5:30pm, Monday to Friday.</p>
  <p class="govuk-body">When you get in touch during office hours, we’ll try to reply within 2 working days.</p>
{% endblock %}
