{% extends "base.njk" %}
{% from "govuk/components/radios/macro.njk" import govukRadios %}
{% from "govuk/components/button/macro.njk" import govukButton %}
{% from "govuk/components/error-summary/macro.njk" import govukErrorSummary %}

{% block pageTitle %}Support – GOV.UK Product Pages{% endblock %}

{% set mainClasses = "govuk-main-wrapper govuk-main-wrapper--auto-spacing" %}

{% block beforeContent %}
  <div class="govuk-width-container">
    <div class="govuk-breadcrumbs">
      <ol class="govuk-breadcrumbs__list">
        <li class="govuk-breadcrumbs__list-item">
          <a class="govuk-breadcrumbs__link" href="https://www.gov.uk/service-toolkit#gov-uk-services">GOV.UK services</a>
        </li>
        <li class="govuk-breadcrumbs__list-item">
          <a class="govuk-breadcrumbs__link" href="/">GOV.UK Sign In</a>
        </li>
        <li class="govuk-breadcrumbs__list-item">
          <a class="govuk-breadcrumbs__link"  href="#main-content" aria-current="page">Support</a>
        </li>
      </ol>
    </div>
  </div>
{% endblock %}

{% block content %}

  <div class="govuk-width-container">
    <div class="govuk-grid-row">
      <div class="govuk-grid-column-two-thirds">
        {% if valueNotSelected %}
        {{ govukErrorSummary({
          titleText: "There is a problem",
          errorList: [
            {
              text: "You must select an option to tell us what you need help with",
              href: "#support-error"
            }
          ]
        }) }}
        {% endif %}

        <h1 class="govuk-heading-l">Support</h1>

        <form action="/support" method="post" novalidate>

          {% if valueNotSelected %}

            {{ govukRadios({
              idPrefix: "support",
              name: "support",
              fieldset: {
                legend: {
                  text: "What do you need help with?"
                }
              },
              errorMessage: {
                text: "You must select an option to tell us what you need help with"
              },
              items: [
                {
                  value: "gov-service-start-using-sign-in",
                  text: "I work in a government service team and we want to start using GOV.UK Sign In"
                },
                {
                  value: "gov-service-uses-sign-in",
                  text: "I work in a government service team that is setting up or already using GOV.UK Sign In"
                },
                {
                  value: "gov-service-is-public",
                  text: "I’m a member of the public"
                }
              ]
            }) }}

          {% else %}

            {{ govukRadios({
              idPrefix: "support",
              name: "support",
              fieldset: {
                legend: {
                  text: "What do you need help with?"
                }
              },
              items: [
                {
                  value: "gov-service-start-using-sign-in",
                  text: "I work in a government service team and we want to start using GOV.UK Sign In"
                },
                {
                  value: "gov-service-uses-sign-in",
                  text: "I work in a government service team that is setting up or already using GOV.UK Sign In"
                },
                {
                  value: "gov-service-is-public",
                  text: "I’m a member of the public"
                }
              ]
            }) }}

          {% endif %}

          {{ govukButton({
            text: "Continue",
            attributes: {"id": "continue"}
          }) }}

        </form>

        <h2 class="govuk-heading-m">Office hours</h2>

        <p class="govuk-body">We can only respond to your support queries during office hours. Our office hours are 9:30am to 5:30pm, Monday to Friday.</p>

        <p class="govuk-body">When you get in touch during office hours, we’ll try to reply within 2 working days.</p>

      </div>
    </div>
  </div>

{% endblock %}
