{% extends "base.njk" %}

{% set pageTitle = "There is a problem with the service" %}

{% block mainContent %}
  <h1 class="govuk-heading-l">Sorry, there is a problem with the service</h1>

  <p class="govuk-body">Try again later.</p>

  {% if showLinkToSupportForm %}
    <p class="govuk-body">
      You can contact us using our <a class="govuk-link" href="/support">support form</a> if it happens again.
    </p>
  {% endif %}
{% endblock %}
