{% extends "base.njk" %}

{% block pageTitle %}There is a problem with the service - GOV.UK Sign In{% endblock %}

{% block mainContent %}
  <h1 class="govuk-heading-l">Sorry, there is a problem with the service</h1>

  <p class="govuk-body">Try again later.</p>

  {% if showLinkToContactForm %}
    <p class="govuk-body">
      You can contact us using our <a class="govuk-link" href="/contact-us ">support form</a> if it happens again.
    </p>
  {% endif %}
{% endblock %}
