<div style=" background-image: url('/assets/images/product-illustration_govuk_signin.png'); height: 100%">
    <marquee style="font-size: 100px; font-family: 'Comic Sans MS', 'Comic Sans', cursive; color: red;">UNDER CONSTRUCTION<span style="font-family: Papyrus; color: blue"> UNDER CONSTRUCTION</span></marquee>
    <marquee style="font-size: 100px; font-family: Papyrus; color: blue;">&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;UNDER CONSTRUCTION<span style="font-family: 'Comic Sans MS', 'Comic Sans', cursive; color: red"> UNDER CONSTRUCTION</span></marquee>
    <marquee style="font-size: 100px; font-family: 'Comic Sans MS', 'Comic Sans', cursive; color: red;">&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;UNDER CONSTRUCTION<span style="font-family: Papyrus; color: blue"> UNDER CONSTRUCTION</span></marquee>
    <marquee style="font-size: 100px; font-family: Papyrus; color: blue;">&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;UNDER CONSTRUCTION<span style="font-family: 'Comic Sans MS', 'Comic Sans', cursive; color: red"> UNDER CONSTRUCTION</span></marquee>
    <marquee style="font-size: 100px; font-family: 'Comic Sans MS', 'Comic Sans', cursive; color: red;">&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;UNDER CONSTRUCTION<span style="font-family: 'Comic Sans MS', 'Comic Sans', cursive; color: red"> UNDER CONSTRUCTION</span></marquee>
</div>
