{% extends "base-side-nav.njk" %}
{% from "macros/breadcrumbs.njk" import breadcrumbs %}

{% set pageTitle = "Checking users’ identities" %}
{% set headerNavigationActiveItem = "about" %}
{% set sideNav = {name: "about", active: "checking-users-identities"} %}
{% set breadcrumbs = breadcrumbs([{text: "About GOV.UK One Login", href: "/about"}]) %}

{% block mainContent %}
  <h1 class="govuk-heading-l">Checking users’ identities</h1>
  <p class="govuk-body">You can use GOV.UK One Login to let users prove their identity, as well as <a class="govuk-link" href="/about/signing-users-in">signing users in</a>.</p>
  <p class="govuk-body">Users will prove their identity once. They can reuse this proof to access other services that use GOV.UK One Login. This saves them time and effort.</p>
  <h2 class="govuk-heading-m">We currently provide a medium level of confidence</h2>
  <p class="govuk-body">Our current journeys will give you a medium level of confidence in the user’s identity, as defined by the government guidance on <a class="govuk-link" href="https://www.gov.uk/government/publications/identity-proofing-and-verification-of-an-individual/how-to-prove-and-verify-someones-identity">how to prove and verify someone’s identity (‘GPG 45’).</a></p>
  <p class="govuk-body">It means using our identity checks will lower the risk of you accepting:</p>
  <ul class="govuk-list govuk-list--bullet">
    <li>completely made-up or ‘synthetic’ identities</li>
    <li>imposters who do not have a relationship with the claimed identity - for example, someone who has found the claimed identity’s information on social media</li>
    <li>imposters who have information about the claimed identity that’s not in the public domain, for example, someone who works for the claimed identity’s employer’s HR department using information they have got to impersonate the claimed identity</li>
  </ul>
  <p class="govuk-body">We plan to offer low and high levels of confidence in the future.</p>
  <h2 class="govuk-heading-m">Deciding if this level is right for your service</h2>
  <p class="govuk-body">To decide if this level of confidence is right for your service, you need to:</p>
  <ul class="govuk-list govuk-list--bullet">
    <li>identify the risks to your service</li>
    <li>check if having medium level of confidence in your users' identities will mitigate them</li>
    <li>consider how this will work with your users' needs</li>
  </ul>
  <p class="govuk-body">We know this is a complex area. We expect that most services will need to speak to us to confirm whether ‘medium’ is the right choice.</p>
  <p class="govuk-body">Our onboarding team is ready to answer your questions and work it out with you. You can get in touch using our <a class="govuk-link" href="/contact-us">support form</a> or <a class="govuk-link" href="https://ukgovernmentdigital.slack.com/archives/C02AQUJ6WTC">Slack channel</a>.</p>
  <h2 class="govuk-heading-m">Identity data your service can get about your users</h2>
  <h3 class="govuk-heading-s">User attributes</h3>
  <p class="govuk-body">If a user successfully proves their identity, you’ll always receive the following core identity information about them:</p>
  <ul class="govuk-list govuk-list--bullet">
    <li>their name</li>
    <li>date of birth</li>
    <li>the level of identity confidence</li>
  </ul>
  <p class="govuk-body">You can also ask for:</p>
  <ul class="govuk-list govuk-list--bullet">
    <li>postal addresses for the last 3 years (we check that addresses are genuine and if they’re associated with fraudulent activity)</li>
    <li>passport details, if the user proved their identity using their passport</li>
    <li>driving licence details, if the user proved their identity using their driving licence</li>
  </ul>
  <p class="govuk-body">We may ask you to provide a reason for requesting these pieces of information, so we can avoid unnecessary data sharing.</p>
  <p class="govuk-body">This is in addition to the data you’ll get from the ‘sign in’ part of GOV.UK One Login, which is:</p>
  <ul class="govuk-list govuk-list--bullet">
    <li>a unique identifier</li>
    <li>an email address</li>
    <li>a mobile phone number, if the user set up two-factor authentication using their mobile phone number</li>
  </ul>
  <p class="govuk-body">If there’s any other data your service needs - <a class="govuk-link" href="/support">get in touch</a> to talk to us about it.</p>
  <h3 class="govuk-heading-s">Audit and fraud data</h3>
  <p class="govuk-body">If an identity has shown evidence of being fraudulent, we can provide more information about that user to you.</p>
  <h2 class="govuk-heading-m">Find out more</h2>
  <p class="govuk-body">Read the <a class="govuk-link" href="https://docs.sign-in.service.gov.uk/">technical documentation</a> to see how to integrate with the identity checking part of GOV.UK One Login.</p>
{% endblock %}
