{% extends "base-side-nav.njk" %}
{% from "macros/breadcrumbs.njk" import breadcrumbs %}

{% set pageTitle = "Signing users in" %}
{% set headerNavigationActiveItem = "about" %}
{% set sideNav = {name: "about", active: "signing-users-in"} %}
{% set breadcrumbs = breadcrumbs([{text: "About GOV.UK One Login", href: "/about"}]) %}

{% block mainContent %}
  <h1 class="govuk-heading-l">Signing users in</h1>
  <p class="govuk-body">You can use GOV.UK One Login to help your users sign into your service quickly and easily. This is also called ‘authentication’.</p>
  <p class="govuk-body">This means you know it’s always the same person accessing the service.</p>
  <h2 class="govuk-heading-m">The user experience</h2>
  <p class="govuk-body">You can let users create their GOV.UK One Login or sign in at:</p>
  <ul class="govuk-list govuk-list--bullet">
    <li>the start of your service, if you need them all to have accounts</li>
    <li>the point where they want to save their progress and come back later, if you want to add this option to a complex journey</li>
  </ul>
  <p class="govuk-body">Users create a GOV.UK One Login with their email address and password. They must also set up two-factor authentication (2FA) before they can use their GOV.UK One Login to sign in to a service.</p>
  <p class="govuk-body">Users set up 2FA using one of 2 methods:</p>
<ul class="govuk-list govuk-list--bullet">
    <li>getting text messages containing security codes sent to their UK mobile phone number</li>
    <li>using security codes generated by an authenticator app</li>
  </ul>
  <p class="govuk-body">By default, users must provide 2FA every time they sign in to your service. If your service does not need to prove a user’s identity, you can choose not to enforce 2FA at sign-in. If your service needs to prove identity, 2FA is mandatory.</p>
  <h3 class="govuk-heading-s">Passkeys</h3>
  <p class="govuk-body">Users can sign in with a passkey instead of a password and 2FA. A passkey uses something on their device, such as a fingerprint, face scan or PIN, so they do not need to remember or type anything.</p>
  <p class="govuk-body">After they create their account, users can add a passkey from their account settings. If they have not set up a passkey, they are periodically prompted to set one up when they sign in to GOV.UK One Login. You do not need to change how your service handles sign-in to support passkeys.</p>
<h3 class="govuk-heading-s">Recovery</h3>
  <p class="govuk-body">If a user forgets their password, they can reset it.</p>
  <p class="govuk-body">If a user loses access to their phone number or authenticator app, they can use a back-up method if they’ve set one up. If they have not, they’ll need to prove their identity again to regain access to their account.</p>
  <p class="govuk-body">If a user loses access to both their password and every way of providing 2FA, they will need to contact our support team.</p>
  <p class="govuk-body">When a user creates a GOV.UK One Login, they’ll also get access to a space where they can manage their details and see the services they’ve used. <a class="govuk-link" href="/about/signed-in-experience">Find out more about what’s available in a user’s GOV.UK One Login</a> when they’re signed in.</p>
  <h2 class="govuk-heading-m">See the sign in user journeys</h2>
  <p class="govuk-body"><a class="govuk-link" href="/documentation/user-journeys">View journey maps of the sign in journey.</a></p>
{% endblock %}
