{% extends "base-side-nav.njk" %}
{% from "macros/breadcrumbs.njk" import breadcrumbs %}

{% set pageTitle = "Signing users in" %}
{% set headerNavigationActiveItem = "about" %}
{% set sideNav = {name: "about", active: "signing-users-in"} %}
{% set breadcrumbs = breadcrumbs([{text: "About GOV.UK One Login", href: "/about"}]) %}

{% block mainContent %}
  <h1 class="govuk-heading-l">Signing users in</h1>
  <p class="govuk-body">You can use GOV.UK One Login to help your users sign into your service quickly and easily. This is also called ‘authentication’.</p>
  <p class="govuk-body">This means you know it’s always the same person accessing the service.</p>
  <div class="govuk-inset-text">
    The sign in part of GOV.UK One Login is now available for services that join public beta. <a class="govuk-link" href="/getting-started">See how to get started</a>.
  </div>
  <h2 class="govuk-heading-m">The user experience</h2>
  <p class="govuk-body">You can let users create their GOV.UK One Login or sign in at:</p>
  <ul class="govuk-list govuk-list--bullet">
    <li>the start of your service, if you need them all to have accounts</li>
    <li>the point where they want to save their progress and come back later, if you want to add this option to a complex journey</li>
  </ul>
  <p class="govuk-body">Users can create a GOV.UK One Login with their email address and password.</p>
  <p class="govuk-body">You can request that your users also use two-factor authentication. They have two options:</p>
  <ul class="govuk-list govuk-list--bullet">
    <li>getting text messages containing security codes sent to their UK or international mobile phone number</li>
    <li>using security codes generated by an authenticator app</li>
  </ul>
  <p class="govuk-body">They can use these details whenever they need to sign in to your service.</p>
  <p class="govuk-body">If they forget their details, they can recover them.</p>
  <p class="govuk-body">When a user creates a GOV.UK One Login, they’ll also get access to a space where they can manage their details and see the services they’ve used. <a class="govuk-link" href="/about/signed-in-experience">Find out more about what’s available in a user’s GOV.UK One Login</a> when they’re signed in.</p>
  <h2 class="govuk-heading-m">See the sign in user journeys</h2>
  <p class="govuk-body"><a class="govuk-link" href="/documentation/user-journeys">View journey maps of the sign in journey.</a></p>
{% endblock %}
