name: Deploy branch

on: workflow_dispatch

jobs:
  build:
    name: Build
    uses: ./.github/workflows/build.yml

  deploy-preview:
    name: Preview
    needs: build
    uses: ./.github/workflows/deploy-to-paas.yml
    with:
      environment: preview
      cf-space-name: product-pages-preview
      app-name-prefix: di-pp-prev
    secrets:
      cf-username: ${{ secrets.CF_USERNAME }}
      cf-password: ${{ secrets.CF_PASSWORD }}
      register-spreadsheet-id: ${{ secrets.REGISTER_SPREADSHEET_ID }}
      request-spreadsheet-id: ${{ secrets.REQUEST_SPREADSHEET_ID }}
      mailing-list-spreadsheet-id: ${{ secrets.MAILING_LIST_SPREADSHEET_ID }}
